### Table of Contents
* [psycopg2](#psycopg2)
* [pymysql](#pymysql)
* [sqlalchemy](#sqlalchemy)
* [mongodb](#mongodb)

In [ ]:
!pip install sqlalchemy

In [5]:
import sqlalchemy as db
import psycopg2
from psycopg2.extras import DictCursor
import pandas as pd

# psycopg2 <a class="anchor" id="psycopg2"></a>

In [ ]:
# инициализируем соединение с базой данных
# инициализируем соединение с базой данных
conn = psycopg2.connect(dbname='demo',
                        user='postgres',
                        host='127.0.0.1',
                        port='5432',
                        password='root')

Лучше connect делать через менеджер контекста

In [ ]:
# инициализируем соединение с базой данных
with psycopg2.connect(dbname='demo',
                        user='postgres',
                        host='127.0.0.1',
                        port='5432',
                        password='root') as conn:
    # получаем все строки ответа
    query = 'SELECT * FROM bookings.aircrafts'
    df = pd.read_sql(query, conn)
# проверить может и не нужно
conn.close()    
df.head()

In [ ]:
with conn.cursor(cursor_factory=psycopg2.extras.DictCursor) as curr:
    curr.execute('SELECT * FROM ratings order by userid limit 10;')
    for row in curr:
        print(row)

# pymysql <a class="anchor" id="pymysql"></a>

In [ ]:
# для тяжелых запросов к MySQL можно использовать SSDictCursor
import pymysql

connection = pymysql.connect(
    host = 'dbhost',
    port = 3306,
    user = 'dbuser',
    password = 'dbpass',
    db = 'db',
    cursorclass = pymysql.cursors.SSDictCursor
)

with connection.cursor() as cursor:
    # отправляем запрос, в результате в курсоре сохранится указатель на результат  
    # результат запроса формируется в базе данные и мы можем построчно читать данные
    # можем и сразу все прочитать используя cursor.fetchall(), но если данные много, то это опасно
    cursor.execute(sqlQuery)
    for line in cursor:
        print(line)

# sqlalchemy <a class="anchor" id="sqlalchemy"></a>

engine это точка входа в базу данных  
то есть он содержит все денйствия, которые мы можем совершить с базой данных  
(подключиться, узнать информацию о бд и прочее)

In [ ]:
import sqlalchemy as db
 
engine = db.create_engine('dialect+driver://user:pass@host:port/db')
# conn = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/db_ds_students'
# for mysql dialect+driver = mysql+pymysql

inspect - создает обект для инспектированя базы данных  
get_tabale_names - метод инсперктора, который выводит доступные таблицы  
Мы можем выбрать таблицу, к которой будем делать запросы

In [ ]:
inspector = db.inspect(engine)
inspector.get_tabale_names()

connect - создает объект подключения к базе данных  
далее мы можем с помощью метода пандаса сделать запрос  
к выбранной таблице

In [ ]:
with engine.connect() as connect:
    query = "select * from course_purchases"
    df = pd.read_sql(query, connect)
df.head(10)

sqlalchemy позволяет создавать запросы к базе данных  
Это можно делать используя объектно ориентированный подход

SELECT *
FROM films
WHERE certification = 'PG'

In [ ]:

db.select([films]).where(films.columns.certification == 'PG')

SELECT *  
FROM files  
WHERE certification = 'R' and release_year > 2003

In [ ]:

db.select([films]).where(db.and_(films.columns.certification == 'R',
                                 films.columns.release_year > 2003))

In [ ]:
with engine.connect() as connection:
        select_author_query = db.select([books]).where(books.columns.book_author==′Фёдор Достоевский′)
        select_all_results = conn.execute(select_author_query)
        conn.commit()

# mongodb <a class="anchor" id="mongodb"></a>

In [ ]:
!pip install pymongo

In [9]:
import pymongo

In [17]:
conn = 'mongodb://students:X63673t47Gl03Sq@dsstudents.skillbox.ru:27017/?authSource=movies'

client = pymongo.MongoClient(conn)
# чтобы работать с базой данных, нужно обратиться через клиент 
# как к словарю, указав в качестве ключа название базы данны
db = client['movies']

In [20]:
db.list_collection_names()

['tags', 'users']

In [21]:
tags = db['tags']

In [32]:
tags.find_one()

{'_id': ObjectId('5c822402c0669da98bd5081e'), 'id': 931, 'name': 'jealousy'}

In [37]:
tags.count_documents({})

158680

In [66]:
tags.find_one({'id': 4290}, {'_id': 0,'id': 0})

{'name': 'toy'}

In [59]:
find = {'$and' : [ {'id': {'$gt' : 4900}}, {'id': {'$lt' : 5000}}]}
curs = tags.find(find)
tags.count_documents(find)

468

Если в $group в _id указать без $, то это значит сгруппировать весь документ    
с таким полем, то есть будет одна строчка  
А если в $group в _id указать с $, то  
будет группировка по этому полю

In [91]:
pipeline = [
    {'$match': {'id': {'$gt': 4000} } },
    {'$project': {'id': 1, 'name': 1} },
    # {'$group': {'_id': 'name', 'avg_id': {'$avg': 'id'} } },
    {'$group': {'_id': 'all_names', 'count': {'$sum': 1} } },
    {'$sort': {'id': 1} },
    {'$limit': 10}
]
curs = tags.aggregate(pipeline)
for doc in curs:
    print(doc)

{'_id': 'all_names', 'count': 112486}

In [92]:
pipeline = [
    {'$match': {'id': {'$gt': 4000} } },
    {'$project': {'id': 1, 'name': 1} },
    {'$group': {'_id': 'all_names', 'avg_id': {'$avg': '$id'} } },
    {'$sort': {'id': 1} },
    {'$limit': 10}
]
curs = tags.aggregate(pipeline)
for doc in curs:
    print(doc)

{'_id': 'all_names', 'avg_id': 75098.27975925893}

In [116]:
pipeline = [
    {'$match': {'id': {'$gt': 4000} } },
    {'$project': {'id': 1, 'name': 1} },
    {'$group': {'_id': '$id', 'sum': {'$sum': 1} } },
    {'$sort': {'sum': -1} },
    {'$limit': 10}
]
curs = tags.aggregate(pipeline)
for doc in curs:
    print(doc)

{'_id': 187056, 'sum': 3115}
{'_id': 10183, 'sum': 1930}
{'_id': 9826, 'sum': 1308}
{'_id': 4344, 'sum': 734}
{'_id': 14819, 'sum': 651}
{'_id': 5565, 'sum': 629}
{'_id': 9748, 'sum': 626}
{'_id': 9937, 'sum': 590}
{'_id': 9673, 'sum': 574}
{'_id': 6075, 'sum': 544}

In [94]:
curs = tags.find().limit(5)
curs

In [95]:
for doc in curs:
    print(doc)

{'_id': ObjectId('5c822402c0669da98bd5081e'), 'id': 931, 'name': 'jealousy'}
{'_id': ObjectId('5c822402c0669da98bd5081f'), 'id': 4290, 'name': 'toy'}
{'_id': ObjectId('5c822402c0669da98bd50820'), 'id': 5202, 'name': 'boy'}
{'_id': ObjectId('5c822402c0669da98bd50821'), 'id': 6054, 'name': 'friendship'}
{'_id': ObjectId('5c822402c0669da98bd50822'), 'id': 9713, 'name': 'friends'}

In [100]:
curs = tags.find().limit(5)
list(curs)

[{'_id': ObjectId('5c822402c0669da98bd5081e'), 'id': 931, 'name': 'jealousy'},
 {'_id': ObjectId('5c822402c0669da98bd5081f'), 'id': 4290, 'name': 'toy'},
 {'_id': ObjectId('5c822402c0669da98bd50820'), 'id': 5202, 'name': 'boy'},
 {'_id': ObjectId('5c822402c0669da98bd50821'),
  'id': 6054,
  'name': 'friendship'},
 {'_id': ObjectId('5c822402c0669da98bd50822'), 'id': 9713, 'name': 'friends'}]

In [117]:
curs = tags.find().limit(5)
df = pd.DataFrame(curs)
df

                        _id    id        name
0  5c822402c0669da98bd5081e   931    jealousy
1  5c822402c0669da98bd5081f  4290         toy
2  5c822402c0669da98bd50820  5202         boy
3  5c822402c0669da98bd50821  6054  friendship
4  5c822402c0669da98bd50822  9713     friends