# Table of Contents
* [url request](#url-request)
* [requests](#requests)
* [BeautifulSoup](#beautifulsoup)
* [Selenium](#selenium)

Прежде чем думать о парсинге сайта, сначала нужно убедиться, что он не предоставляет архив данных и нет API

Если у сервиса есть API, то нужно проверить есть ли готовые библиотеки на Python, так как  
если сайт более менее популярный, то скорее всего уже кто-то написал библиотеку для работы  с его API,  
и возможно таку будет быстрее, чем изучать api сервиса

Если API не открытый, то чтобы примерно понимать какие методы принимает бэкэнд, можно открыть в браузере консоль разроботчика, сеть и   
в полоске загрузке по вермени (waterfall) нажать на самые длинные полоски, и там как раз часто содержаться запросы фронтенда к бэкэнду  
и изучив параметры запроса, можно самоу сделать нужный запрос к бэкэнду и получить нужную инфу

Когда делаем запросы к сайту через request, то нужно эмитировать поведение обычного пользователя и не посылать запросы очень часто.    
Нужно учитывать. что частые запросы приведут к бану и сервер перестанет ответчать   
Для этого используем библиотеку `time` и метод `time.sleep(1)`, чтобы делать пузы между запросами    
А лучше рандомно брать задержку из нормального распределения с мат ожиданием например 1 секунда

Чтобы эмитировать поведение обычного пользователя, открываем сайт, который хотим парсить, переходим в консоль разработчика, далее выбираем первый запрос,  
который мы слали, когда открывали страницу, правой кнопкой на него, далее copy и `copyAsCurl (bash)`  
далее в поисковике пишем curl to python requests, переходим по первой ссылке, и вводим то, что скопировали  
и копируем результат и вставляем в питон   
Важно убрать параметры заголовков   
`'if-modified-since'` и `'if-none-match': 'W/"63e40de8-c85e"'`

Можно использовать для конвертации curlconverter, но на сайтах код чище и ещё подсказки для `requests`

Также нужно посмотреть содержимое `name_cite/robots.txt` сайта  
не переходить в каталоги, которы запрещены и не нарушать лимиты, которые там указаны

In [ ]:
!pip install curlconverter

In [ ]:
import curlconverter
curl = '''paste curl'''
curlconverter.CurlConverter(curl).convert()

Чтобы менять UserAgent

In [ ]:
from fake_useragent import UserAgent
ua = UserAgent()
my_user_agent = ua.random
# теперь эту строчку можно использовать как UserAgent в headers
# и можно перед разными запросами рандомно создавать UserAgent, чтобы сервер думал. что мы разыне люди

# url request <a class="anchor" id="url-request"></a>

Куки - это специальные файлы, которые создаются на клиенте сервером или реже самим клиентом, и информация из которых передается на сервер  
например, мы зашли на сайт, залогинились, и сервер послал на клиент session_id, далее создается файл куки, если его нет в папке браузера,  
и сохраняется ай ди. В следующий раз клиент будет слать этот ай ди при запросе к сайту.

http или https это протокол, который регламентирует формат сообщений между клиентом и сервером   
https это тот же http, но передача данных шифруется
Сначала клиент делает запрос на сервер, просто запрос, без запроса страницы,  
далее сервер высылает клиенту свой сертификат,  
клиент отправляет этот сертификат в цент сертификации, получает ответ, если все ок,  
то шлет серверу свой сертификат, сервер также проверяет этот сертификат в центре сертификации  
после этого сервер и клиент шифруют сообщения  
публичный ключ используется для шифрования  
закрытый ключ использется для дешифрования  
То есть у клиента и сервера есть публичные ключи друг друга (закрытых естественно нет)  
когда клиент шлет сообщение, то он кодирует его открытым ключом сервера, а сервер своим закрытым его раскодирует  
и аналогично, когда сервер шлет ответ, то он его кодирует открытым ключом клиенту, а клиент его раскодирует своим закрытым ключом.  
У обеих сторон есть открытые ключи друг друга, чтобы кодировать сообщения и свои закрытые клчюи. чтобы их раскодировать.  
При этом ключи генерируются каждый раз при создании соединения (и открытый и закрытый)

Запрос к серверу состоит из текста следующего вида (по сути это текст составлениый в соответствии с правилами протокола)  
заголовки состоят из ключей и значений, разделенных двоеточием  
параметры запроса передаются после uri (в данном случае index.html)  
HTTP-запрос (request), ниже само сообщение

In [ ]:

POST /index.html HTTP/1.1                  - request line  
Host: skillbox.ru                          - headers  
Accept: image/gif, image/jpeg, */*         - headers  
Accept-Encoding: gzip, deflate, br         - headers  
Accept-Language: ru-RU,ru                  - headers  
User-Agent: Mozilla/5.0                    - headers  
                                           - empty line  
text=PHP&mode=full                         - body


тело запроса может быть   
* Пустое (может отсутствовать)  
* Параметры запроса (данные формы)  
* Данные (например, JSON)  
* Файл  

Ответ от сервера выглядит следующим образом    
HTTP-ответ (response)  
аналогично запросу, первая строка status line (состоит из протокола, статус кода, и статуса ), затем загловки до пустой строки, а потом тело ответа  
ниже само сообщение

In [ ]:

HTTP/1.1 200 OK
Date: Tue, 31 Mar 2020 09:23:35 GMT
Content-Type: text/html; charset=utf-8
Server: nginx/1.16.1 (Ubuntu)
ETag: "1b873-QCXtoIDHCmRH5kCo9rL9+w"
X-Powered-By: PHP/5.6.40

<h1>Main page</h1>

GET  
Используется для получения какого-либо ресурса и  
не отправляет никакие данные на сервер  
● Безопасный  
● Тело GET-запроса — пустое  
● Параметры передаются в строке запроса

In [ ]:
GET-запрос с параметрами  
/index.php?lang=ru&new=true&count=567  
до ? идет page name, далее query string



query string состоит из параметров и значений (lang=ru),  
парметры соеденены символом &

In [ ]:
в адресах сайтов (следовательно и в запросах к апи) используются только латинские символы,  
остальные символы кодируются по таблице ascii с кодами в шестнадцатеричном виде  
например,  
з = %D0%B7
б = %D0%B1

Чтобы раскодировать такие символы, можно использовать следующую библиотеку

In [17]:
from urllib.parse import unquote
url = unquote('%D0%B7')
url

'з'

In [18]:
from urllib.parse import unquote
url = unquote('https://yandex.ru/search/?text=%D1%8F%D0%BD%D0%B4%D0%B5%D0%BA%D1%81+%D0%B7%D0%B0%D0%BF%D1%80%D0%BE%D1%81&lr=197&clid=2359100')
url

'https://yandex.ru/search/?text=яндекс+запрос&lr=197&clid=2359100'

In [3]:
ascii('з')

"'\\u0437'"

In [5]:
hex(1079)

'0x437'

In [6]:
int(0x437)

1079

In [8]:
int('437', 16)

1079

In [10]:
str(0x437)

'1079'

Авторизация в URL  
Если на странице нужна авторизация, то чтобы после обращения к ней не выскочило окно авторизации,    
можно сразу передать логин и пароль в запросе  
Данные авторизации передаются в начале адреса перед доменным именем  
логин и пароль разделены : и от доменного имени отделены @

In [ ]:
https://login:pass@www.example.com/

# requests <a class="anchor" id="requests"></a>

In [95]:
import requests
from bs4 import BeautifulSoup 
import re
from requests.auth import HTTPBasicAuth 
import pandas as pd

Метод GET используется для получения информации с данного сервера с использованием заданного URI.  
Метод HEAD запрашивает ответ, идентичный ответу запроса GET, но без тела ответа.

requests.auth это компонент, который используется для авторизации по методу `Basic\Digital access authentication`

In [ ]:
# Если нужна идентификация
response = requests.get('https://api.github.com / user, ', 
            auth = HTTPBasicAuth('user', 'pass')) 
print(response)

если у вас на сайте форма с авторизацией, то надо отправлять форму так

Мы создаем сессию и далее работаем через нее,  
в ней будут храниться токены и прочее, что нужно для аутентификации, чтобы можно было переходить по страницам сайта и  
не вводить логин и пароль постоянно

In [ ]:
session = requests.Session()
session.post('http://example.com/auth/login', {
     'username': 'admin',
     'password': 'password',
     'remember': 1,
})

или так

In [ ]:
s = requests.Session()
data = {"login_username":"my_login", "login_password":"my_password"}
url = "http://rustorka.com/forum/login.php"
r = s.post(url, data=data)

s.cookies

пример кода для аутентификации на сайте hh.ru

In [ ]:
import requests

url = 'https://moscow.hh.ru/account/login'

# Важно. По умолчанию requests отправляет вот такой 
# заголовок 'User-Agent': 'python-requests/2.22.0 ,  а это приводит к тому , что Nginx
# отправляет 404 ответ. Поэтому нам нужно сообщить серверу, что запрос идет от браузера  

user_agent_val = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.142 Safari/537.36'

# Создаем сессию и указываем ему наш user-agent
session = requests.Session()
r = session.get(url, headers = {
    'User-Agent': user_agent_val
})

# Указываем referer. Иногда , если не указать , то приводит к ошибкам. 
session.headers.update({'Referer':url})

#Хотя , мы ранее указывали наш user-agent и запрос удачно прошел и вернул 
# нам нужный ответ, но user-agent изменился на тот , который был 
# по умолчанию. И поэтому мы обновляем его.
session.headers.update({'User-Agent':user_agent_val})

# Получаем значение _xsrf из cookies
_xsrf = session.cookies.get('_xsrf', domain=".hh.ru")

# Осуществляем вход с помощью метода POST с указанием необходимых данных 
post_request = session.post(url, {
     'backUrl': 'https://moscow.hh.ru/',
     'username': 'yourlogin',
     'password': 'yourpassword',
     '_xsrf':_xsrf,
     'remember':'yes',
})

#Вход успешно воспроизведен и мы сохраняем страницу в html файл
with open("hh_success.html","w",encoding="utf-8") as f:
    f.write(post_request.text)

Распространенной формой аутентификации для нескольких веб-API является OAuth.   
Библиотека Requests-oauthlib позволяет пользователям Requests легко выполнять запросы с аутентификацией OAuth 1

Расширение requests-oauthlib позволяет автоматически выполнять OAuth1 и OAuth2 аутентификацию из библиотеки requests без танцев с бубном.   
Расширение будет полезно для большого числа веб-сайтов, которые используют OAuth1/2 для обеспечения быстрой аутентификации.

In [ ]:
import requests
from requests_oauthlib import OAuth1

url = 'https://api.twitter.com/1.1/account/verify_credentials.json'
auth = OAuth1('YOUR_APP_KEY', 'YOUR_APP_SECRET',
               'USER_OAUTH_TOKEN', 'USER_OAUTH_TOKEN_SECRET')

requests.get(url, auth=auth)

Дайджест-аутентификация  
Еще одна очень популярная форма HTTP-аутентификации — дайджест-аутентификация, и Requests также поддерживает ее «из коробки»:

In [ ]:
from requests.auth import HTTPDigestAuth
url = 'https://httpbin.org/digest-auth/auth/user/pass'
requests.get(url, auth=HTTPDigestAuth('user', 'pass'))

идетификация с помощью сертификата

In [ ]:
response = requests.get('https://github.com', verify ='/path/to/certfile') 
# print request object 
print(response)

In [185]:
response = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')

Проверить статус (ок значит 200)

In [186]:
response.ok

True

In [26]:
# response.status_code возвращает число, обозначающее статус (200 — ОК, 404 — не найден).
response.status_code
# print(response)

200

In [46]:
# response.reason возвращает текст, соответствующий коду состояния.
response.reason

'OK'

In [18]:
# response.headers возвращает словарь заголовков ответов.
response.headers

{'Date': 'Tue, 16 Jul 2024 05:08:41 GMT', 'Content-Type': 'application/javascript; charset=utf-8', 'Content-Length': '2046', 'Connection': 'keep-alive', 'last-modified': 'Mon, 15 Jul 2024 17:00:00 GMT', 'Content-Encoding': 'gzip', 'expires': 'Mon, 15 Jul 2024 19:31:22 GMT', 'Cache-Control': 'max-age=28800', 'referrer-policy': 'origin', 'access-control-allow-origin': '*', 'access-control-max-age': '31536000', 'strict-transport-security': 'max-age=31536000; includeSubDomains; preload', 'link': '<https://www.cbr-xml-daily.ru/>; rel="canonical"', 'CF-Cache-Status': 'HIT', 'Age': '41839', 'Accept-Ranges': 'bytes', 'Report-To': '{"endpoints":[{"url":"https:\\/\\/a.nel.cloudflare.com\\/report\\/v4?s=rkAeG6E5fKmiz1%2FgIe0we%2F87vFLP803QhCZ0TGwsPgoc2kXzobXvUWvqox1z4bcxzUtjp4dTMhz0VaOezJRFt3mGfR9dY42CZOjOFi8XqPOy9I500vG7KYsdiqH6689N9riD7nhhwA%3D%3D"}],"group":"cf-nel","max_age":604800}', 'NEL': '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}', 'Vary': 'Accept-Encoding', 'Server': 'cloudflare', 'CF-RAY': '8a3f79cecd382d5f-ARN', 'alt-svc': 'h3=":443"; ma=86400'}

In [19]:
# response.encoding возвращает кодировку, используемую для декодирования response.content.
response.encoding

'utf-8'

In [22]:
# response.elapsed возвращает объект timedelta, содержащий время, прошедшее с момента отправки запроса до получения ответа.
response.elapsed

datetime.timedelta(microseconds=481748)

In [23]:
# response.close() закрывает соединение с сервером.
response.close()

In [25]:
# response.content возвращает содержимое ответа в байтах.
response.content[:500]

b'{\n    "Date": "2024-07-16T11:30:00+03:00",\n    "PreviousDate": "2024-07-13T11:30:00+03:00",\n    "PreviousURL": "\\/\\/www.cbr-xml-daily.ru\\/archive\\/2024\\/07\\/13\\/daily_json.js",\n    "Timestamp": "2024-07-15T20:00:00+03:00",\n    "Valute": {\n        "AUD": {\n            "ID": "R01010",\n            "NumCode": "036",\n            "CharCode": "AUD",\n            "Nominal": 1,\n            "Name": "\xd0\x90\xd0\xb2\xd1\x81\xd1\x82\xd1\x80\xd0\xb0\xd0\xbb\xd0\xb8\xd0\xb9\xd1\x81\xd0\xba\xd0\xb8\xd0\xb9 \xd0\xb4\xd0\xbe\xd0\xbb\xd0\xbb\xd0\xb0\xd1\x80",\n            "Value": 59.4897,\n            "Previous": 59.4194\n    '

In [43]:
# response.text возвращает содержимое ответа в Юникоде.
response.text[:500]

'{\n    "Date": "2024-07-16T11:30:00+03:00",\n    "PreviousDate": "2024-07-13T11:30:00+03:00",\n    "PreviousURL": "\\/\\/www.cbr-xml-daily.ru\\/archive\\/2024\\/07\\/13\\/daily_json.js",\n    "Timestamp": "2024-07-15T20:00:00+03:00",\n    "Valute": {\n        "AUD": {\n            "ID": "R01010",\n            "NumCode": "036",\n            "CharCode": "AUD",\n            "Nominal": 1,\n            "Name": "Австралийский доллар",\n            "Value": 59.4897,\n            "Previous": 59.4194\n        },\n        "AZN'

In [29]:
# response.is_permanent_redirect возвращает True, если ответ представляет собой постоянный перенаправленный URL-адрес, в противном случае — False.
response.is_permanent_redirect

False

In [30]:
# response.is_redirect возвращает True, если ответ был перенаправлен, в противном случае — False.
response.is_redirect

False

In [38]:
# response.iter_content() создает итератор на content
iter = response.iter_content()
print(next(iter))

b'{'

In [ ]:
# response.json() возвращает объект JSON результата (если результат был записан в формате JSON, в противном случае возникает ошибка).
response.json()

In [47]:
# response.links возвращает ссылки заголовков.
response.links

{'canonical': {'url': 'https://www.cbr-xml-daily.ru/', 'rel': 'canonical'}}

Если нужно сохранить изображение

In [ ]:
import os

# Загружаем изображение
url = 'https://www.example.com/image.jpg'
response = requests.get(url)

# Создаем папку для сохранения изображения
img_dir = 'images'
os.makedirs(img_dir, exist_ok=True)

# Сохраняем изображение на диск
img_path = os.path.join(img_dir, 'image.jpg')
with open(img_path, 'wb') as img_file:
    img_file.write(response.content)

Чтобы сымитировать запрос от реального пользователя, вместе с ним нужно отправить на веб-сервер специальные заголовки  
— User-Agent, Accept, Accept-Encoding, Accept-Language, Cache-Control и Connection.  
Их вы можете увидеть, если откроете веб-инспектор своего браузера.

In [53]:
# st_accept = "text/html" # говорим веб-серверу, 
#                         # что хотим получить html
# # имитируем подключение через браузер Mozilla на macOS

url = 'SOME URL'
# Get a copy of the default headers that requests would use
headers = requests.utils.default_headers()
# Update the headers with your custom ones
# You don't have to worry about case-sensitivity with
# the dictionary keys, because default_headers uses a custom
# CaseInsensitiveDict implementation within requests' source code.
headers.update(
    {
        'User-Agent': 'My User Agent 1.0',
        
    }
)
response = requests.get(url, headers=headers)

# BeautifulSoup <a class="anchor" id="beautifulsoup"></a>

In [8]:
from bs4 import BeautifulSoup 
import requests
import pandas as pd
import urllib.parse
from tqdm.auto import tqdm

headers = {
    'authority': 'books.toscrape.com',
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7',
    'accept-language': 'en-US,en;q=0.9,ru-RU;q=0.8,ru;q=0.7',
    'cache-control': 'max-age=0',
    'referer': 'https://yandex.ru/',
    'sec-ch-ua': '"Not=A?Brand";v="99", "Chromium";v="118"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'document',
    'sec-fetch-mode': 'navigate',
    'sec-fetch-site': 'cross-site',
    'sec-fetch-user': '?1',
    'upgrade-insecure-requests': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Safari/537.36',
}
url = 'https://books.toscrape.com/'
response = requests.get(url, headers=headers)
response.ok

status =  200

In [9]:
soup = BeautifulSoup(response.text, 'lxml')

Свойство `text` берет `contents`, выбрасывает из него все тэги и атрибуты и возвращает результат   
По сути это текст в этом тэге и во всех вложенных в него тэгах

In [ ]:
soup.text

### Объекты BeautifulSoup

BeautifulSoup состоит из объектов тэгов

In [59]:
type(soup.b)

NoneType

К внутреннему классу можно обратиться через точку

In [78]:
soup.h3.a

У каждого тега есть имя, доступное как .name

In [81]:
soup.h3.name

'h3'

У тега есть его атрибуты  
`.attrs`

In [82]:
# у h3 нет атрибутов, так как он просто обрамляет тэг a  
# <h3><a href="catalogue/a-light-in-the-attic_1000/index.html" title="A Light in the Attic">A Light in the ...</a></h3>
soup.h3.attrs

{}

In [83]:
soup.h3.a.attrs

{'href': 'catalogue/a-light-in-the-attic_1000/index.html',
 'title': 'A Light in the Attic'}

Содержание contents  
это будет список с элементами тегами

In [86]:
soup.h3.contents

In [87]:
soup.h3.fetchNextSiblings

### select (так называется, потому что тут можно использовать логику селекторов)

https://docs-python.ru/packages/paket-beautifulsoup4-python/css-selektory/

Самые важные CSS (Cascading Style Sheets)-селекторы (патерны для поиска)  
Через `#` ищуться ай ди  
через `.` ищуться класы   
https://www.w3schools.com/cssref/css_selectors.php    
- `".class_name"` - выбирает все элементы с `class="class_name"`
- `".class1.class2"` - Selects all elements with both name1 and name2 set within its class attribute
- `".class1 .class2"` - Selects all elements with name2 that is a descendant of an element with name1
- `"#id_name"` - Selects the element with `id="id_name"`
- `"tag_name"` - Selects all `<tag_name>` elements
- `"tag_name.class_name"` - Selects all `<tag_name>` elements with `class="class_name"`
- `"tag_name1,tag_name2"` - Selects all `<tag_name1>` elements and all `<tag_name2>` elements
- `"tag_name1 tag_name2"` - Selects all `<tag_name2>` inside and all `<tag_name1>` elements
- `"[attribute]"` - Selects all elements with a target attribute
- `"[attribute='value']"` - Selects all elements with `attribute="value"`  
Важно атрубут пишем без ковыче, а начение в ковычках  
- `“div a”` ищет все `a` в `div`, не важно, как глубоко, главное, что `div` - родитель `a`
- `“div > a”` ищет все `a` непосредственно в `div`, то есть `a` - ребенок `div` (то есть разница между тэгами 1 уровень)
- `“a#user_id”` ищет все ссылки c `id=“user_id”`
- `“a.navigation”` ищет все ссылки с `class=“navigation”`

Если в классе стоит пробел, то это два класса через пробел  
Чтобы искать по классу, пишем название тега, точка и названия классов через точку   
select позволяет указывать классы через точку в любом порядке

Например, в коде есть `star-rating One` и `star-rating Three`  
Я могу взять все элементы с классом `star-rating`  
А могу взять только `star-rating One`  
`One` указываем через точку  
Пробел детализирует класс, то есть сразу нескоько классов в одном

In [25]:
soup.select('p.star-rating')[0]

<p class="star-rating Three">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>

In [28]:
soup.select('p.star-rating.One')[0]

<p class="star-rating One">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>

Чтобы взять элементы со определенным значением атрибута

In [214]:
soup.select("h3 a[title='A Light in the Attic']")[:3]

Если нам нужно, чтобы просто был этот параметр

In [215]:
soup.select("h3 a[title]")[:3]

[<a href="catalogue/a-light-in-the-attic_1000/index.html" title="A Light in the Attic">A Light in the ...</a>,
 <a href="catalogue/tipping-the-velvet_999/index.html" title="Tipping the Velvet">Tipping the Velvet</a>,
 <a href="catalogue/soumission_998/index.html" title="Soumission">Soumission</a>]

Чтобы получить значение атрибута, нужно использвать название атрибута как ключ к результату  
Тут важно сначала выбрать конкретный элемент из списка, так как select всегда возращает список  
Если мы уверены, что что у нас будет только один элемент в результате, то можно использовать `select_one`

In [216]:
soup.select("h3 a[title]")[0]['href']

'catalogue/a-light-in-the-attic_1000/index.html'

Чтобы получить текст элемента используем свойство `text`

In [217]:
soup.select("h3 a[title]")[0].text

'A Light in the ...'

In [209]:
soup.select('ul.nav li a')[0]['href']

'catalogue/category/books_1/index.html'

In [230]:
soup.current_url

In [236]:
def parse_category(x, url):
    return {'name': x.select_one('a').text.strip()
            , 'link': f"{url}{x.select_one('a')['href']}"}
categories = [parse_category(x, url) for x in soup.select('ul.nav li')[1:]]
df = pd.DataFrame(categories)
df.head()

                 name                                               link
0              Travel  https://books.toscrape.com/catalogue/category/...
1             Mystery  https://books.toscrape.com/catalogue/category/...
2  Historical Fiction  https://books.toscrape.com/catalogue/category/...
3      Sequential Art  https://books.toscrape.com/catalogue/category/...
4            Classics  https://books.toscrape.com/catalogue/category/...

In [292]:
books = []
stars_to_rate = {'One': 1,
                'Two': 2,
                'Three': 3,
                'Four': 4,
                'Five': 5}
for cat in tqdm(categories):
    temp_link = cat['link']
    category = cat['name']
    r = requests.get(temp_link, headers=headers)
    soup_cat = BeautifulSoup(r.text)
    article = soup_cat.select('article.product_pod')
    for el in article:
        title = el.select_one('h3 a')['title'].strip()
        href = urllib.parse.urljoin(temp_link, el.select_one('h3 a')['href'])
        price = el.select_one('p.price_color').text.strip()
        is_available = el.select_one('p.availability').text.strip() == 'In stock'
        stars = el.select_one('p.star-rating')
        stars = [x for x in stars['class'] if x != 'star-rating'][0]
        rating = stars_to_rate[stars]
        img = el.select_one('img')['src']
        img = urllib.parse.urljoin(temp_link, img)
        books.append({
            'title': title,
            'page_link': href,
            'price': price,
            'is_available': is_available,
            'stars': stars,
            'rating': rating,
            'img_link': img,
            'category': category
        })

  0%|          | 0/50 [00:00<?, ?it/s]

In [306]:
df_books = pd.DataFrame(books)
df_books.price = df_books.price.apply(lambda x: float(re.findall(r'\d+\.\d+', x)[0]))
df_books.head()

,title,page_link,price,is_available,stars,rating,img_link,category
0,It's Only the Himalayas,https://books.toscrape.com/catalogue/its-only-...,45.17,True,Two,2,https://books.toscrape.com/media/cache/27/a5/2...,Travel
1,Full Moon over Noahâs Ark: An Odyssey to Mou...,https://books.toscrape.com/catalogue/full-moon...,49.43,True,Four,4,https://books.toscrape.com/media/cache/57/77/5...,Travel
2,See America: A Celebration of Our National Par...,https://books.toscrape.com/catalogue/see-ameri...,48.87,True,Three,3,https://books.toscrape.com/media/cache/9a/7e/9...,Travel
3,Vagabonding: An Uncommon Guide to the Art of L...,https://books.toscrape.com/catalogue/vagabondi...,36.94,True,Two,2,https://books.toscrape.com/media/cache/d5/bf/d...,Travel
4,Under the Tuscan Sun,https://books.toscrape.com/catalogue/under-the...,37.33,True,Three,3,https://books.toscrape.com/media/cache/98/c2/9...,Travel

### find_all

В class_ можно отдавать регулярное выражение   
`class_= re.compile("row$")`

Работает так - идет по строчкам в супе и проверяет условие для тэга и для параметров (условие либо конкретное значение, либо лямбда функция, которая возвращает   
истину или ложь) и берет все элементы, для которых условие истино

find_all работает немного иначе  
если ему как в select передать строку с тегом и через точку классами, он ничего не найдет  
ему нужно тэг указть отдельным параметром, а класс отдельным  
При этом название класса нужно указать так как на странице, то есть если на странице класс через пробел,  
то нам нужно указать через пробел

В параметр `name` указывается условие поиска, то есть этот аргумент должен содеражать,  
либо название тэга, либо быть True или False  
C параметрами также, если мы передаем занчение, то ищется точное совпадение с этим значением,  
если мы передаем True или False, то параметр береться или нет,  
а если мы указываем лямбда функцию, которая возвращает True или False, то возьмуться только те элементы, для которых лямбда функция вернет True

Чтобы фильтровать по атрубутам используем такую конструкцию  
`soup.find_all(attrs={"attribute" : "value"})`

In [172]:
soup.find_all(name='p', class_='star-rating')[0]

<p class="star-rating Three">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>

In [35]:
soup.find_all(name='p', class_='star-rating One').__len__()

6

In [36]:
soup.find_all(name='p', class_='One').__len__()

6

Если нужно сразу взять несколько классов, то используем  
`soup.findAll(True, {'class':['class1', 'class2']})`

In [122]:
soup.find_all(name='p', attrs={'class': ['One', 'Three']}).__len__()

9

Если нужно указать несколько тегов

In [137]:
soup.find_all(name=['h3', 'a'])[:2]

Чтобы брать или не брать какие-то параметры используем `имя параметра = False`

In [ ]:
soup.find_all(name=['h3', 'a']) #, attrs={'class': ['One'], 'icon-star': False})

find_all умеет выбирать только нужные значения по параметрам  
Например, если мы хотим получить не все заголовки названия книг (имеют тег h3), а только с названием A Light in the Attic

In [53]:
soup.find_all('h3', string='Tipping the Velvet')

In [104]:
soup.find_all('a', title=re.compile(r'Attic'))

в findAll можно использовать `lambda функцию`  
Важно - лямбда функция используется как фильтрация, то есть она должона возвращать True / False   
причем мы ее можем использовать и в name (фильтр тегов)  
и в параметрах  
В условии для теговмы сразу пишем lambda,  
а в параметрах после названия параметра и равно  
На вход лямбда функции в фильтрации подасться то, что мы укажем как аргумент лямбда функции,  
то есть тут мы выбираем аргумент сами,  
а в параметре на вход лямбда функции подасться значение того параметра, для которого указана лямбда функция

То есть для всех элементов, для которых лямбда функция вернет истину (либо в фильтре тэгов, либо в параметрах),  
они беруться в результат, остальные игнорируются

In [157]:
soup.findAll(
    lambda tag:tag.name == "a" and
    len(tag.attrs) == 2 and
    tag["title"] == "Tipping the Velvet"
    , title=lambda x: 'the' in x
    )

Чтобы фильтровать по атрибутам испльзуем словарь и отдаем в attrs   
также можно писать каждый параметр отдельно

In [98]:
soup.find_all('a', title="Tipping the Velvet")

Если нужно найти тэг внутри тэга, то сначала находим элементы с первым тэгом,  
а потом в цикле для каждого ищем по второму тэгу

In [142]:
h3 = soup.find_all('h3')
h3[:2]

[<h3><a href="catalogue/a-light-in-the-attic_1000/index.html" title="A Light in the Attic">A Light in the ...</a></h3>,
 <h3><a href="catalogue/tipping-the-velvet_999/index.html" title="Tipping the Velvet">Tipping the Velvet</a></h3>]

In [146]:
h3 = soup.find_all('h3')
res = []
for el in h3:
    a = el.find_all('a', title=re.compile(r"for"))
    if a:
       res += a 
res

[<a href="catalogue/the-boys-in-the-boat-nine-americans-and-their-epic-quest-for-gold-at-the-1936-berlin-olympics_992/index.html" title="The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics">The Boys in the ...</a>,
 <a href="catalogue/libertarianism-for-beginners_982/index.html" title="Libertarianism for Beginners">Libertarianism for Beginners</a>]

Пример парсинга таблицы с сайта  
далее есть другой пример пошагово с комментариями  
а этот, чтобы все в одном месте

In [170]:
url = 'https://en.wikipedia.org/wiki/ISO_4217'
page = requests.get(url)
page = requests.get(url)
soup = BeautifulSoup(page.text, 'lxml')
# find the first PageElement that matches the given criteria.
table = soup.find('table',{'class':'wikitable sortable mw-collapsible'})
# парсим заголовки 
table.find_all('th')[:10]
headers = [tag.text for tag in table.find_all('th')]
# выбираем нужные столбцы
headers_cols = [0, 1, 3]
headers = [headers[i] for i in headers_cols]
mydata = pd.DataFrame(columns=headers)
# парсим строки и берем из них значения ячеек
# 'tr' - это строки
# 'td' - это значение ячейки в каждом 'tr'

for index, i in enumerate(table.find_all('tr')[1:]):
    row_data = i.find_all('td')
    row = [j.text for j in row_data]
    row = [row[j] for j in headers_cols]
    mydata.loc[index] = row  
mydata.head()

  Code  Num                       Currency
0  AED  784    United Arab Emirates dirham
1  AFN  971                 Afghan afghani
2  ALL  008                   Albanian lek
3  AMD  051                  Armenian dram
4  ANG  532  Netherlands Antillean guilder

In [175]:
pd.read_html('https://en.wikipedia.org/wiki/ISO_4217', match='Active ISO 4217 currency codes')[0].head()

,Code,Num,D[a],Currency,Locations listed for this currency[b]
0,AED,784,2,United Arab Emirates dirham,United Arab Emirates
1,AFN,971,2,Afghan afghani,Afghanistan
2,ALL,8,2,Albanian lek,Albania
3,AMD,51,2,Armenian dram,Armenia
4,ANG,532,2,Netherlands Antillean guilder,"Curaçao (CW), Sint Maarten (SX)"

In [ ]:
req = requests.get("https://selectel.ru/blog/courses/", headers)
# считываем текст HTML-документа
src = req.text
print(src)

Beautiful Soup — это, по сути, анализатор и конвертер содержимого html- и xml-документов.  
С помощью него полученную гипертекстовую разметку можно преобразовать в полноценные объекты, атрибуты которых — теги в html.

In [63]:
# инициализируем html-код страницы 
soup = BeautifulSoup(src, 'lxml')
# считываем заголовок страницы
title = soup.title.string
print(title)
# Программа выведет: Курсы - Блог компании Селектел

Курсы - Академия Selectel

In [79]:
url = 'https://en.wikipedia.org/wiki/ISO_4217'
page = requests.get(url)

In [80]:
page = requests.get(url)
soup = BeautifulSoup(page.text, 'lxml')

В коде страницы, который можно простомотреть в инструментах разработчика я заметил, что табличка с кодами, лежит на википедии в тэге `table`  
и конкретно принадлежит классу `wikitable sortable`.

In [ ]:
table = soup.find('table',{'class':'wikitable sortable mw-collapsible'})
table

In [162]:
url = 'https://www.worldometers.info/coronavirus/'
# Create object page
page = requests.get(url)
soup = BeautifulSoup(page.text, 'lxml')

In [ ]:
table1 = soup.find('table', id='main_table_countries_today')

In [87]:
table1

<table class="table table-bordered table-hover main_table_countries" id="main_table_countries_today" style="width:100%;margin-top: 0px !important;display:none;">
<thead>
<tr>
<th width="1%">#</th>
<th width="100">Country,<br/>Other</th>
<th width="20">Total<br/>Cases</th>
<th width="30">New<br/>Cases</th>
<th width="30">Total<br/>Deaths</th>
<th width="30">New<br/>Deaths</th>
<th width="30">Total<br/>Recovered</th>
<th width="30">New<br/>Recovered</th>
<th width="30">Active<br/>Cases</th>
<th width="30">Serious,<br/>Critical</th>
<th width="30">Tot Cases/<br/>1M pop</th>
<th width="30">Deaths/<br/>1M pop</th>
<th width="30">Total<br/>Tests</th>
<th width="30">Tests/<br/>
<nobr>1M pop</nobr>
</th>
<th width="30">Population</th>
<th style="display:none" width="30">Continent</th>
<th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
<th width="30">New Cases/1M pop</th>
<th width="30">New Deaths/1M pop</th>
<th width="30">Active Cases/1M pop</th>
</tr>
</thead>
<tbody>
<tr class="total_row_world row_continent" data-continent="North America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>North America</nobr>
</td>
<td>131,889,132</td>
<td></td>
<td>1,695,941</td>
<td></td>
<td>127,665,129</td>
<td>+350</td>
<td>2,528,062</td>
<td>6,095</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="North America" style="display:none;">North America</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Asia</nobr>
</td>
<td>221,500,265</td>
<td></td>
<td>1,553,662</td>
<td></td>
<td>205,673,091</td>
<td></td>
<td>14,273,512</td>
<td>14,733</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Asia" style="display:none;">Asia</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Europe</nobr>
</td>
<td>253,406,198</td>
<td></td>
<td>2,101,824</td>
<td></td>
<td>248,754,104</td>
<td>+474</td>
<td>2,550,270</td>
<td>4,453</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Europe" style="display:none;">Europe</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="South America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>South America</nobr>
</td>
<td>70,200,879</td>
<td></td>
<td>1,367,332</td>
<td></td>
<td>66,683,585</td>
<td></td>
<td>2,149,962</td>
<td>8,953</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="South America" style="display:none;">South America</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Oceania</nobr>
</td>
<td>14,895,771</td>
<td></td>
<td>33,015</td>
<td></td>
<td>14,752,388</td>
<td></td>
<td>110,368</td>
<td>31</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Africa</nobr>
</td>
<td>12,860,924</td>
<td></td>
<td>258,892</td>
<td></td>
<td>12,090,808</td>
<td></td>
<td>511,224</td>
<td>529</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Africa" style="display:none;">Africa</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr></nobr>
</td>
<td>721</td>
<td></td>
<td>15</td>
<td></td>
<td>706</td>
<td></td>
<td>0</td>
<td>0</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="" style="display:none;"></td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world">
<td></td>
<td style="text-align:left;">World</td>
<td>704,753,890</td>
<td>0</td>
<td>7,010,681</td>
<td>0</td>
<td>675,619,811</td>
<td>+790</td>
<td>22,123,398</td>
<td>34,794</td>
<td>90,413</td>
<td>899.4</td>
<td></td>
<td></td>
<td></td>
<td data-continent="all" style="display:none">All</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td style="font-weight: bold; text-align:right">111,820,082</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">1,219,487                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">109,814,428</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">786,167</td>
<td style="font-weight: bold; text-align:right">940</td>
<td style="font-weight: bold; text-align:right">333,985</td>
<td style="font-weight: bold; text-align:right">3,642</td>
<td style="font-weight: bold; text-align:right">1,186,851,502</td>
<td style="font-weight: bold; text-align:right">3,544,901</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">334,805,269</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<!-- 1 Case/Death/Test every X -->
<td>3</td><td>275</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">2,348</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
<td style="font-weight: bold; text-align:right">45,035,393</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">533,570                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right;">N/A</td>
<td style="text-align:right;font-weight:bold;">N/A</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">32,016</td>
<td style="font-weight: bold; text-align:right">379</td>
<td style="font-weight: bold; text-align:right">935,879,495</td>
<td style="font-weight: bold; text-align:right">665,334</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,406,631,776</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>31</td><td>2,636</td><td>2</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">0.4</td>
</tr>
<tr style="background-color:#F0F0F0">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
<td style="font-weight: bold; text-align:right">40,138,560</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">167,642                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">39,970,918</span></td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">612,013</td>
<td style="font-weight: bold; text-align:right">2,556</td>
<td style="font-weight: bold; text-align:right">271,490,188</td>
<td style="font-weight: bold; text-align:right">4,139,547</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,584,518</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>391</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
<td style="font-weight: bold; text-align:right">38,828,995</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">183,027                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">38,240,600</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">405,368</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">462,891</td>
<td style="font-weight: bold; text-align:right">2,182</td>
<td style="font-weight: bold; text-align:right">122,332,384</td>
<td style="font-weight: bold; text-align:right">1,458,359</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,883,596</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>458</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">4,833</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
<td style="font-weight: bold; text-align:right">38,743,918</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">711,380                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">36,249,161</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1,783,377</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">179,908</td>
<td style="font-weight: bold; text-align:right">3,303</td>
<td style="font-weight: bold; text-align:right">63,776,166</td>
<td style="font-weight: bold; text-align:right">296,146</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">215,353,593</a> </td>
<td data-continent="South America" style="display:none">South America</td>
<!-- 1 Case/Death/Test every X -->
<td>6</td><td>303</td><td>3</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">8,281</td>
</tr>
<tr style="background-color:#F0F0F0">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/south-korea/">S. Korea</a></td>
<td style="font-weight: bold; text-align:right">34,571,873</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">35,934                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">34,535,939</span></td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">673,523</td>
<td style="font-weight: bold; text-align:right">700</td>
<td style="font-weight: bold; text-align:right">15,804,065</td>
<td style="font-weight: bold; text-align:right">307,892</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/south-korea-population/">51,329,899</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>1</td><td>1,428</td><td>3</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/japan/">Japan</a></td>
<td style="font-weight: bold; text-align:right">33,803,572</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">74,694                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right;">N/A</td>
<td style="text-align:right;font-weight:bold;">N/A</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">269,169</td>
<td style="font-weight: bold; text-align:right">595</td>
<td style="font-weight: bold; text-align:right">100,414,883</td>
<td style="font-weight: bold; text-align:right">799,578</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/japan-population/">125,584,838</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>4</td><td>1,681</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">95,582</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
<td style="font-weight: bold; text-align:right">26,723,249</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">196,487                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">26,361,218</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">165,544</td>
<td style="font-weight: bold; text-align:right">22</td>
<td style="font-weight: bold; text-align:right">443,445</td>
<td style="font-weight: bold; text-align:right">3,261</td>
<td style="font-weight: bold; text-align:right">281,126,449</td>
<td style="font-weight: bold; text-align:right">4,665,010</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,262,770</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>307</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">2,747</td>
</tr>
<tr style="background-color:#F0F0F0">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
<td style="font-weight: bold; text-align:right">24,910,387</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">232,112                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">24,678,275</span></td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">0</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">363,666</td>
<td style="font-weight: bold; text-align:right">3,389</td>
<td style="font-weight: bold; text-align:right">522,526,476</td>
<td style="font-weight: bold; text-align:right">7,628,357</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,497,907</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>3</td><td>295</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
<td style="font-weight: bold; text-align:right">24,124,215</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">402,756                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">23,545,818</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">175,641</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">165,454</td>
<td style="font-weight: bold; text-align:right">2,762</td>
<td style="font-weight: bold; text-align:right">273,400,000</td>
<td style="font-weight: bold; text-align:right">1,875,095</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,805,947</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>6</td><td>362</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">1,205</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
<td style="font-weight: bold; text-align:right">17,232,066</td>

In [91]:
table1.find_all('th')[:10]

[<th width="1%">#</th>,
 <th width="100">Country,<br/>Other</th>,
 <th width="20">Total<br/>Cases</th>,
 <th width="30">New<br/>Cases</th>,
 <th width="30">Total<br/>Deaths</th>,
 <th width="30">New<br/>Deaths</th>,
 <th width="30">Total<br/>Recovered</th>,
 <th width="30">New<br/>Recovered</th>,
 <th width="30">Active<br/>Cases</th>,
 <th width="30">Serious,<br/>Critical</th>]

In [94]:
headers = [tag.text for tag in table1.find_all('th')]
headers[:10]

['#',
 'Country,Other',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'NewRecovered',
 'ActiveCases',
 'Serious,Critical']

In [125]:
mydata = pd.DataFrame(columns=headers)
mydata

Empty DataFrame
Columns: [#, Country,Other, TotalCases, NewCases, TotalDeaths, NewDeaths, TotalRecovered, NewRecovered, ActiveCases, Serious,Critical, Tot Cases/1M pop, Deaths/1M pop, TotalTests, Tests/
1M pop
, Population, Continent, 1 Caseevery X ppl, 1 Deathevery X ppl, 1 Testevery X ppl, New Cases/1M pop, New Deaths/1M pop, Active Cases/1M pop]
Index: []

[0 rows x 22 columns]

Теперь нам нужно заполнить значениями нашу таблицу  
снова идем на сайт и смотрим с какими тегами строка таблицы и какие тегу у значений  
строка находится внутри тега 'tr', а элементы — внутри тега 'td'.

In [109]:
table1.find_all('tr')[1:2]

[<tr class="total_row_world row_continent" data-continent="North America" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>North America</nobr>
 </td>
 <td>131,889,132</td>
 <td></td>
 <td>1,695,941</td>
 <td></td>
 <td>127,665,129</td>
 <td>+350</td>
 <td>2,528,062</td>
 <td>6,095</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="North America" style="display:none;">North America</td>
 <!-- 1 Case every X -->
 <td>
 </td>
 <!-- 1 Death every X -->
 <td></td>
 <!-- 1 test every X -->
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>]

Колонки расположены внутри тега <th>  
После нахождения тегов мы создаем цикл for, чтобы заполнить пустой список нашими колонками.   
Давайте определим пустой список как headers.

In [ ]:
for index, i in enumerate(table1.find_all('tr')[1:]):
    row_data = i.find_all('td')
    row = [j.text for j in row_data]
    mydata.loc[index] = row

In [132]:
mydata.head(10)

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,TotalTests,Tests/\n1M pop\n,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,,\nNorth America\n,"131,889,132",,"1,695,941",,"127,665,129",+350,"2,528,062","6,095",...,,,,North America,\n,,,,,
1,,\nAsia\n,"221,500,265",,"1,553,662",,"205,673,091",,"14,273,512","14,733",...,,,,Asia,\n,,,,,
2,,\nEurope\n,"253,406,198",,"2,101,824",,"248,754,104",+474,"2,550,270","4,453",...,,,,Europe,\n,,,,,
3,,\nSouth America\n,"70,200,879",,"1,367,332",,"66,683,585",,"2,149,962","8,953",...,,,,South America,\n,,,,,
4,,\nOceania\n,"14,895,771",,"33,015",,"14,752,388",,"110,368",31,...,,,,Australia/Oceania,\n,,,,,
5,,\nAfrica\n,"12,860,924",,"258,892",,"12,090,808",,"511,224",529,...,,,,Africa,\n,,,,,
6,,\n\n,721,,15,,706,,0,0,...,,,,,\n,,,,,
7,,World,"704,753,890",0,"7,010,681",0,"675,619,811",+790,"22,123,398","34,794",...,,,,All,\n,,,,,
8,1,USA,"111,820,082",,"1,219,487",,"109,814,428",,"786,167",940,...,"1,186,851,502","3,544,901","334,805,269",North America,3,275,0,,,"2,348"
9,2,India,"45,035,393",,"533,570",,N/A,N/A,N/A,N/A,...,"935,879,495","665,334","1,406,631,776",Asia,31,"2,636",2,,,0.4

In [133]:
mydata.tail(20)

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,TotalTests,Tests/\n1M pop\n,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
227,220,Saint Pierre Miquelon,"3,452",,2,,"2,449",,"1,001",,...,"25,400","4,410,488","5,759",North America,2,"2,880",0,,,"173,815"
228,221,Tuvalu,"2,943",,1,,N/A,N/A,N/A,N/A,...,,,"12,066",Australia/Oceania,4,"12,066",,,,"243,826"
229,222,Saint Helena,"2,166",,,,2,,"2,164",,...,,,"6,115",Africa,3,,,,,"353,884"
230,223,Falkland Islands,"1,930",,,,"1,930",,0,,...,"8,632","2,439,107","3,539",South America,2,,0,,,
231,224,Montserrat,"1,403",,8,,"1,376",,19,,...,"17,762","3,577,442","4,965",North America,4,621,0,,,"3,827"
232,225,Niue,"1,059",,,,"1,056",,3,,...,,,"1,622",Australia/Oceania,2,,,,,"1,850"
233,226,Diamond Princess,712,,13,,699,,0,,...,,,,,,,,,,
234,227,Tokelau,80,,,,,,80,,...,,,"1,378",Australia/Oceania,17,,,,,"58,055"
235,228,Vatican City,29,,,,29,,0,,...,,,799,Europe,28,,,,,
236,229,Western Sahara,10,,1,,9,,0,,...,,,"626,161",Africa,"62,616","626,161",,,,
237,230,MS Zaandam,9,,2,,7,,0,,...,,,,,,,,,,
238,231,China,"503,302",,"5,272",,"379,053",,"118,977",N/A,...,"160,000,000","110,461","1,448,471,400",Asia,"2,878","274,748",9,,,82
239,,Total:,"131,889,132",,"1,695,941",,"127,665,129",,"2,528,062","6,095",...,,,,North America,,,,,,
240,,Total:,"221,500,265",,"1,553,662",,"205,673,091",,"14,273,512","14,733",...,,,,Asia,,,,,,
241,,Total:,"253,406,198",,"2,101,824",,"248,754,104",,"2,550,270","4,453",...,,,,Europe,,,,,,
242,,Total:,"70,200,879",,"1,367,332",,"66,683,585",,"2,149,962","8,953",...,,,,South America,,,,,,
243,,Total:,"14,895,771",,"33,015",,"14,752,388",,"110,368",31,...,,,,Australia/Oceania,,,,,,
244,,Total:,"12,860,924",,"258,892",,"12,090,808",,"511,224",529,...,,,,Africa,,,,,,
245,,Total:,721,,15,,706,,0,0,...,,,,,,,,,,
246,,Total:,"704,753,890",0,"7,010,681",0,"675,619,811",+790,"22,123,398","34,794",...,,,,All,\n,,,,,

удалим лишнее в начале и в конце

In [141]:
list(range(9)) + list(range(2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 0, 1]

In [144]:
# mydata.drop(mydata.index[0:7], inplace=True)
# mydata.drop(mydata.index[222:229], inplace=True)
mydata.drop(list(range(8)) + list(range(239, 247)), inplace=True)
mydata.head()

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,TotalTests,Tests/\n1M pop\n,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
8,1,USA,"111,820,082",,"1,219,487",,"109,814,428",,"786,167",940,...,"1,186,851,502","3,544,901","334,805,269",North America,3,275,0,,,"2,348"
9,2,India,"45,035,393",,"533,570",,N/A,N/A,N/A,N/A,...,"935,879,495","665,334","1,406,631,776",Asia,31,"2,636",2,,,0.4
10,3,France,"40,138,560",,"167,642",,"39,970,918",,0,,...,"271,490,188","4,139,547","65,584,518",Europe,2,391,0,,,
11,4,Germany,"38,828,995",,"183,027",,"38,240,600",,"405,368",N/A,...,"122,332,384","1,458,359","83,883,596",Europe,2,458,1,,,"4,833"
12,5,Brazil,"38,743,918",,"711,380",,"36,249,161",,"1,783,377",N/A,...,"63,776,166","296,146","215,353,593",South America,6,303,3,,,"8,281"

In [145]:
mydata.tail()

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,TotalTests,Tests/\n1M pop\n,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
234,227,Tokelau,80,,,,,,80,,...,,,"1,378",Australia/Oceania,17,,,,,"58,055"
235,228,Vatican City,29,,,,29,,0,,...,,,799,Europe,28,,,,,
236,229,Western Sahara,10,,1,,9,,0,,...,,,"626,161",Africa,"62,616","626,161",,,,
237,230,MS Zaandam,9,,2,,7,,0,,...,,,,,,,,,,
238,231,China,"503,302",,"5,272",,"379,053",,"118,977",N/A,...,"160,000,000","110,461","1,448,471,400",Asia,"2,878","274,748",9,,,82

In [149]:
mydata = mydata.reset_index(drop=True).drop('#', axis=1)
mydata.head()

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,...,TotalTests,Tests/\n1M pop\n,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,USA,"111,820,082",,"1,219,487",,"109,814,428",,"786,167",940,"333,985",...,"1,186,851,502","3,544,901","334,805,269",North America,3,275,0,,,"2,348"
1,India,"45,035,393",,"533,570",,N/A,N/A,N/A,N/A,"32,016",...,"935,879,495","665,334","1,406,631,776",Asia,31,"2,636",2,,,0.4
2,France,"40,138,560",,"167,642",,"39,970,918",,0,,"612,013",...,"271,490,188","4,139,547","65,584,518",Europe,2,391,0,,,
3,Germany,"38,828,995",,"183,027",,"38,240,600",,"405,368",N/A,"462,891",...,"122,332,384","1,458,359","83,883,596",Europe,2,458,1,,,"4,833"
4,Brazil,"38,743,918",,"711,380",,"36,249,161",,"1,783,377",N/A,"179,908",...,"63,776,166","296,146","215,353,593",South America,6,303,3,,,"8,281"

Если используем pandas, то в match  
указываем любое слово из таблицы, если несколько таблиц с таким словом,   
то все они будут в списке  
pd.read_html возвращает список датафреймов

In [164]:
tables = pd.read_html(
    'https://en.wikipedia.org/wiki/ISO_4217',
    match='code')
tables[0]

,Code,Num,D[a],Currency,Locations listed for this currency[b]
0,AED,784,2,United Arab Emirates dirham,United Arab Emirates
1,AFN,971,2,Afghan afghani,Afghanistan
2,ALL,8,2,Albanian lek,Albania
3,AMD,51,2,Armenian dram,Armenia
4,ANG,532,2,Netherlands Antillean guilder,"Curaçao (CW), Sint Maarten (SX)"
...,...,...,...,...,...
174,YER,886,2,Yemeni rial,Yemen
175,ZAR,710,2,South African rand,"Eswatini, Lesotho, Namibia, South Africa"
176,ZMW,967,2,Zambian kwacha,Zambia
177,ZWG,924,2,Zimbabwe Gold,Zimbabwe[20]
178,ZWL,932,2,Zimbabwean dollar (fifth)[g],Zimbabwe

# selenium <a class="anchor" id="selenium"></a>

https://habr.com/ru/companies/otus/articles/596071/  
https://www.geeksforgeeks.org/get-all-text-of-the-page-using-selenium-in-python/  
https://ru-brightdata.com/blog/how-tos-ru/scrape-dynamic-websites-python

Бывают ситуации, когда с помощью простых веб-запросов не получается спарсить все данные со страницы.  
Например, если часть контента подгружается с помощью API и JavaScript.   
Тогда сайт можно спарсить только через эмуляцию работы браузера.  
Для эмуляции работы браузера необходимо написать программу, которая будет как человек открывать нужные веб-страницы,   
взаимодействовать с элементами с помощью курсора, искать и записывать ценные данные.   
Такой алгоритм можно организовать с помощью библиотеки Selenium.

Установите ChromeDriver — именно с ним будет взаимодействовать Selenium.  
Если вы хотите, чтобы актуальная версия ChromeDriver подтягивалась автоматически, воспользуйтесь webdriver-manager.  
Далее импортируйте Selenium и необходимые зависимости.

In [ ]:
!pip3 install selenium

In [ ]:
# You can automatically use the correct chromedriver by using the webdrive-manager. Install the webdrive-manager:
!pip install webdriver-manager

In [60]:
from selenium import webdriver as wd

если у нас браузер есть в системной path, то просто пишем так

In [ ]:
driver = webdriver.Chrome()

selenium берет указанный браузер из path системы,  
если его там нет, то нужно указать путь до папки с браузером

In [ ]:
browser = wd.Chrome("/usr/bin/chromedriver/")

можно ещё сложнее, устанавливать новую версию

In [ ]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
# Webdriver Manager for Python:
# Previously, We should download binary chromedriver and Unzip it somewhere on our PC and also set a path. After that, set path to this driver like this:
webdriver.Chrome(executable_path='D:\PyCharm_Projects\SeleniumLearning\Drivers\ChromeDriverServer.exe')
# But Every time, a new version of the driver is released, so we need to download a new driver otherwise it will give us errors.  
# For Solving this issue, we need to install webdriver-manager:
driver = webdriver.Chrome(ChromeDriverManager().install())

In [51]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys 
import time

важно, чтобы до find_elements страница загрузилась в открывшемся браузере

также важно, что если на странице у какого-то элемента нет нужно нам элемента, а у других есть,  
то нужно брать класс выше по иерархии, который есть у всех и самому парсить оттуда инфу и  
для тех значений, которых нет ставить np.na

если страница состоит из нескольких страниц,  
например, товары на нескольких страницах,  
то нужно сделать список страниц и перебрать их в списке  
можно использовать также средства силениум для следующей страницы

In [ ]:
# если нужно вытащить не текст, то сначала находим элемент, например через класс
image = i.find_element_by_tag_name("img")
# а потом уже берем атрибут по имени
img_src = image.get_attribute("src")
img_src.get_attribute('href')

In [ ]:
# чтобы прокручивать
html = driver.find_element_by_tag_name('html')
html.send_keys(Keys.PAGE_DOWN)

In [ ]:
# чтобы сохранить картинку
# Enter the location of folder in which
# the images will be saved
img = driver.find_element(By.XPATH, "//img[@class = 'ng-tns-c1638666676-1']")
img.screenshot('foo.png')
# Each new screenshot will automatically
# have its name updated

In [ ]:
img = driver.find_element(By.XPATH, "//img[@class = 'ng-tns-c1638666676-1']")
# img.screenshot('/Screenshots/foo.png')
image = img.screenshot_as_png
with open('selenium.png', 'wb') as f:
    f.write(image)
Image.open('selenium.png')

Вот так можно выбирать элементы в нашем коде:

шпаргалка по xpath  
https://habr.com/ru/articles/817555/

| Выражение XPath | Результат   |
|------|------|
|   **/bookstore/book[1]**   | Выбирает первый элемент book, который является потомком элемента bookstore |
|**/bookstore/book[last( )]**|Выбирает последний элемент book, который является потомком элемента bookstore|
|**/bookstore/book[last( )-1]**|Выбирает предпоследний элемент book, который является потомком элемента bookstore|
|**/bookstore/book[position( )<3]**|Выбирает первые два элемента book, которые являются потомками элемента bookstore|
|**//title[@lang]**|Выбирает все элементы title с атрибутом lang|
|**//title[@lang='eng']**|Выбирает все элементы title с атрибутом lang, который имеет значение 'eng'|
|**/bookstore/book[price>35.00]**|Выбирает все элементы book, которые являются потомками элемента bookstore и которые содержать элемент price со значением больше 35.00|
|**/bookstore/book[price>35.00]/title**|Выбирает все элементы title элементов book элементов bookstore, которые содержать элемент price со значением больше 35.00|

In [104]:
driver = webdriver.Chrome()
driver.implicitly_wait(5)
driver.get("https://www.mvideo.ru/smartfony-i-svyaz-10/smartfony-205")
# для селениума важно, чтобы вся страница загрузилась
# иначе могут быть ошибки
time.sleep(10)
print(f'Title: {driver.title!r}')

# если страница динамически грузится при прокрутке, то нужно прокрутить ее до конца

SCROLL_PAUSE_TIME = 1

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")
height = 2000
height_step = 2000
while True:
    # Scroll down to bottom
    driver.execute_script(f"window.scrollTo(0, {height});")
    height += height_step

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

# подождем пока все прогрузиться
time.sleep(10)
    
# теперь с помощью xpath или можно использовать тэги, названия классов или другие
# тогда by.XPATH заменяем на by.название_способа
# извлекаем нужную информацию  
# будет список со всеми совпадениями  
# если мы указываем класс, то будет список  
# со всеми элементами этого класса на странице  
# то есть если мы хотим извлечь информацию об однотипных объектах,  
# то они будут иметь один класс и мы получим список нужной информации  
# чтобы укаазть класс, идем на сайт, кликаем правой кнопкой на месте элемента и  
# и копируем его класс  
# не забываем. что если мы пишем тэг div, то и классы должны брать с таким тэгом


titles = driver.find_elements(By.XPATH, "//div[@class = 'product-title product-title--list']")
new_prices = driver.find_elements(By.XPATH, "//span[@class ='price__main-value']")
old_prices = driver.find_elements(By.XPATH, "//span[@class='price__sale-value ng-star-inserted']")
discounts = driver.find_elements(By.XPATH, "//span[@class='price-discount ng-star-inserted']")
product_pages = driver.find_elements(By.XPATH, "//a[@class = 'product-picture-link']")

if not(len(titles) == len(new_prices) == len(old_prices) == len(discounts)):
    raise ValueError('ответы разной длинны')
# print(len(titles))
# if len(titles) > 0:
#     print(titles[0].text)
result = {
    'title': [],
    'new_price': [],
    'old_price': [],
    'discont': [],
    'product_page': []
}

for title, new_price, old_price, discount, product_page in zip(titles, new_prices, old_prices, discounts, product_pages):
    result['title'].append(title.text.strip())
    result['new_price'].append(int(new_price.text.replace(' ', '')[:-1]))
    result['old_price'].append(int(old_price.text.replace(' ', '')))
    result['discont'].append(abs(int(discount.text.replace(' ', '')[1:-1])))
    result['product_page'].append(product_page.get_attribute('href'))



driver.quit()

Title: 'Смартфоны купить в М.Видео, цены— Барнаул'

In [99]:
driver.quit()

In [49]:
import pandas as pd

In [105]:
df = pd.DataFrame(result)
df.head()

,title,new_price,old_price,discont,product_page
0,Смартфон Apple iPhone 15 Pro Max 256GB nanoSim...,141999,154999,8,https://www.mvideo.ru/products/smartfon-apple-...
1,Смартфон Apple iPhone 15 128GB Dual Sim Black,81999,94999,13,https://www.mvideo.ru/products/smartfon-apple-...
2,Смартфон Apple iPhone 15 Pro 128GB Dual Sim Na...,113999,124999,8,https://www.mvideo.ru/products/smartfon-apple-...
3,Смартфон Apple iPhone 13 128GB nanoSim/eSim Mi...,63999,74999,14,https://www.mvideo.ru/products/smartfon-apple-...
4,Смартфон Apple iPhone 15 Pro Max 256GB nanoSim...,141999,154999,8,https://www.mvideo.ru/products/smartfon-apple-...