Pivot

In [33]:
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
                           'two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'baz': [1, 2, 3, 4, 5, 6],
                   'zoo': ['x', 'y', 'z', 'q', 'w', 't']})

In [34]:
df

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t

In [35]:
df.pivot(index='baz', columns='bar', values='zoo')

bar    A    B    C
baz
1      x  NaN  NaN
2    NaN    y  NaN
3    NaN  NaN    z
4      q  NaN  NaN
5    NaN    w  NaN
6    NaN  NaN    t

In [36]:
df.pivot_table('zoo', 'baz', 'bar', aggfunc=min)

bar    A    B    C
baz
1      x  NaN  NaN
2    NaN    y  NaN
3    NaN  NaN    z
4      q  NaN  NaN
5    NaN    w  NaN
6    NaN  NaN    t

In [8]:
import pandas as pd
from random import choice

df = pd.DataFrame({'gender':[choice(['male', 'female']) for _ in range(10)]})
df

   gender
0  female
1  female
2  female
3  female
4  female
5    male
6  female
7  female
8    male
9  female

In [16]:
df['digit_gender'] = df.gender.eq('female').astype(int)
df

   gender  digit_gender
0  female             1
1  female             1
2  female             1
3  female             1
4  female             1
5    male             0
6  female             1
7  female             1
8    male             0
9  female             1

In [13]:
df.gender.eq('male').astype(int)

0    0
1    0
2    0
3    0
4    0
5    1
6    0
7    0
8    1
9    0
Name: gender, dtype: int32

In [2]:
import random
[choice(['male', 'female']) for _ in range(20)]

['male',
 'female',
 'male',
 'male',
 'male',
 'female',
 'male',
 'male',
 'male',
 'female']

In [11]:
import matplotlib.colors as clr

In [ ]:
colors = {'xkcd:neon red': '#ff073a',
          'xkcd:neon green': '#0cff0c',
          'xkcd:ultramarine blue': '#1805db',
          'xkcd:vivid purple': '#9900fa',
          'xkcd:cyan': '#00ffff',
          'xkcd:greyish': '#a8a495',
          'xkcd:canary yellow': '#fffe40',
          'xkcd:bubblegum pink': '#fe83cc',
          'xkcd:deep violet': '#490648',
          'xkcd:dark blue': '#00035b',
          'xkcd:orange': '#f97306',
          'xkcd:blood red': '#980002',
          'xkcd:blue blue': '#2242c7',
          'xkcd:turtle green': '#75b84f',
          'xkcd:deep rose': '#c74767'
         }

In [14]:
clr.get_named_colors_mapping()

{'xkcd:cloudy blue': '#acc2d9',
 'xkcd:dark pastel green': '#56ae57',
 'xkcd:dust': '#b2996e',
 'xkcd:electric lime': '#a8ff04',
 'xkcd:fresh green': '#69d84f',
 'xkcd:light eggplant': '#894585',
 'xkcd:nasty green': '#70b23f',
 'xkcd:really light blue': '#d4ffff',
 'xkcd:tea': '#65ab7c',
 'xkcd:warm purple': '#952e8f',
 'xkcd:yellowish tan': '#fcfc81',
 'xkcd:cement': '#a5a391',
 'xkcd:dark grass green': '#388004',
 'xkcd:dusty teal': '#4c9085',
 'xkcd:grey teal': '#5e9b8a',
 'xkcd:macaroni and cheese': '#efb435',
 'xkcd:pinkish tan': '#d99b82',
 'xkcd:spruce': '#0a5f38',
 'xkcd:strong blue': '#0c06f7',
 'xkcd:toxic green': '#61de2a',
 'xkcd:windows blue': '#3778bf',
 'xkcd:blue blue': '#2242c7',
 'xkcd:blue with a hint of purple': '#533cc6',
 'xkcd:booger': '#9bb53c',
 'xkcd:bright sea green': '#05ffa6',
 'xkcd:dark green blue': '#1f6357',
 'xkcd:deep turquoise': '#017374',
 'xkcd:green teal': '#0cb577',
 'xkcd:strong pink': '#ff0789',
 'xkcd:bland': '#afa88b',
 'xkcd:deep aqua': '#08787f',
 'xkcd:lavender pink': '#dd85d7',
 'xkcd:light moss green': '#a6c875',
 'xkcd:light seafoam green': '#a7ffb5',
 'xkcd:olive yellow': '#c2b709',
 'xkcd:pig pink': '#e78ea5',
 'xkcd:deep lilac': '#966ebd',
 'xkcd:desert': '#ccad60',
 'xkcd:dusty lavender': '#ac86a8',
 'xkcd:purpley grey': '#947e94',
 'xkcd:purply': '#983fb2',
 'xkcd:candy pink': '#ff63e9',
 'xkcd:light pastel green': '#b2fba5',
 'xkcd:boring green': '#63b365',
 'xkcd:kiwi green': '#8ee53f',
 'xkcd:light grey green': '#b7e1a1',
 'xkcd:orange pink': '#ff6f52',
 'xkcd:tea green': '#bdf8a3',
 'xkcd:very light brown': '#d3b683',
 'xkcd:egg shell': '#fffcc4',
 'xkcd:eggplant purple': '#430541',
 'xkcd:powder pink': '#ffb2d0',
 'xkcd:reddish grey': '#997570',
 'xkcd:baby shit brown': '#ad900d',
 'xkcd:liliac': '#c48efd',
 'xkcd:stormy blue': '#507b9c',
 'xkcd:ugly brown': '#7d7103',
 'xkcd:custard': '#fffd78',
 'xkcd:darkish pink': '#da467d',
 'xkcd:deep brown': '#410200',
 'xkcd:greenish beige': '#c9d179',
 'xkcd:manilla': '#fffa86',
 'xkcd:off blue': '#5684ae',
 'xkcd:battleship grey': '#6b7c85',
 'xkcd:browny green': '#6f6c0a',
 'xkcd:bruise': '#7e4071',
 'xkcd:kelley green': '#009337',
 'xkcd:sickly yellow': '#d0e429',
 'xkcd:sunny yellow': '#fff917',
 'xkcd:azul': '#1d5dec',
 'xkcd:darkgreen': '#054907',
 'xkcd:green/yellow': '#b5ce08',
 'xkcd:lichen': '#8fb67b',
 'xkcd:light light green': '#c8ffb0',
 'xkcd:pale gold': '#fdde6c',
 'xkcd:sun yellow': '#ffdf22',
 'xkcd:tan green': '#a9be70',
 'xkcd:burple': '#6832e3',
 'xkcd:butterscotch': '#fdb147',
 'xkcd:toupe': '#c7ac7d',
 'xkcd:dark cream': '#fff39a',
 'xkcd:indian red': '#850e04',
 'xkcd:light lavendar': '#efc0fe',
 'xkcd:poison green': '#40fd14',
 'xkcd:baby puke green': '#b6c406',
 'xkcd:bright yellow green': '#9dff00',
 'xkcd:charcoal grey': '#3c4142',
 'xkcd:squash': '#f2ab15',
 'xkcd:cinnamon': '#ac4f06',
 'xkcd:light pea green': '#c4fe82',
 'xkcd:radioactive green': '#2cfa1f',
 'xkcd:raw sienna': '#9a6200',
 'xkcd:baby purple': '#ca9bf7',
 'xkcd:cocoa': '#875f42',
 'xkcd:light royal blue': '#3a2efe',
 'xkcd:orangeish': '#fd8d49',
 'xkcd:rust brown': '#8b3103',
 'xkcd:sand brown': '#cba560',
 'xkcd:swamp': '#698339',
 'xkcd:tealish green': '#0cdc73',
 'xkcd:burnt siena': '#b75203',
 'xkcd:camo': '#7f8f4e',
 'xkcd:dusk blue': '#26538d',
 'xkcd:fern': '#63a950',
 'xkcd:old rose': '#c87f89',
 'xkcd:pale light green': '#b1fc99',
 'xkcd:peachy pink': '#ff9a8a',
 'xkcd:rosy pink': '#f6688e',
 'xkcd:light bluish green': '#76fda8',
 'xkcd:light bright green': '#53fe5c',
 'xkcd:light neon green': '#4efd54',
 'xkcd:light seafoam': '#a0febf',
 'xkcd:tiffany blue': '#7bf2da',
 'xkcd:washed out green': '#bcf5a6',
 'xkcd:browny orange': '#ca6b02',
 'xkcd:nice blue': '#107ab0',
 'xkcd:sapphire': '#2138ab',
 'xkcd:greyish teal': '#719f91',
 'xkcd:orangey yellow': '#fdb915',
 'xkcd:parchment': '#fefcaf',
 'xkcd:straw': '#fcf679',
 'xkcd:very dark brown': '#1d0200',
 'xkcd:terracota': '#cb6843',
 'xkcd:ugly blue': '#31668a',
 'xkcd:clear blue': '#247afd',
 'xkcd:creme': '#ffffb6',
 'xkcd:foam green': '#90fda9',
 'xkcd:grey/green': '#86a17d',
 'xkcd:light gold': '#fddc5c',
 'xkcd:seafoam blue': '#78d1b6',
 'xkcd:topaz': '#13bbaf',
 'xkcd:violet pink': '#fb5ffc',
 'xkcd:wintergreen': '#20f986',
 'xkcd:yellow tan': '#ffe36e',
 'xkcd:dark fuchsia': '#9d0759',
 'xkcd:indigo blue': '#3a18b1',
 'xkcd:light yellowish green': '#c2ff89',
 'xkcd:pale magenta': '#d767ad',
 'xkcd:rich purple': '#720058',
 'xkcd:sunflower yellow': '#ffda03',
 'xkcd:green/blue': '#01c08d',
 'xkcd:leather': '#ac7434',
 'xkcd:racing green': '#014600',
 'xkcd:vivid purple': '#9900fa',
 'xkcd:dark royal blue': '#02066f',
 'xkcd:hazel': '#8e7618',
 'xkcd:muted pink': '#d1768f',
 'xkcd:booger green': '#96b403',
 'xkcd:canary': '#fdff63',
 'xkcd:cool grey': '#95a3a6',
 'xkcd:dark taupe': '#7f684e',
 'xkcd:darkish purple': '#751973',
 'xkcd:true green': '#089404',
 'xkcd:coral pink': '#ff6163',
 'xkcd:dark sage': '#598556',
 'xkcd:dark slate blue': '#214761',
 'xkcd:flat blue': '#3c73a8',
 'xkcd:mushroom': '#ba9e88',
 'xkcd:rich blue': '#021bf9',
 'xkcd:dirty purple': '#734a65',
 'xkcd:greenblue': '#23c48b',
 'xkcd:icky green': '#8fae22',
 'xkcd:light khaki': '#e6f2a2',
 'xkcd:warm blue': '#4b57db',
 'xkcd:dark hot pink': '#d90166',
 'xkcd:deep sea blue': '#015482',
 'xkcd:carmine': '#9d0216',
 'xkcd:dark yellow green': '#728f02',
 'xkcd:pale peach': '#ffe5ad',
 'xkcd:plum purple': '#4e0550',
 'xkcd:golden rod': '#f9bc08',
 'xkcd:neon red': '#ff073a',
 'xkcd:old pink': '#c77986',
 'xkcd:very pale blue': '#d6fffe',
 'xkcd:blood orange': '#fe4b03',
 'xkcd:grapefruit': '#fd5956',
 'xkcd:sand yellow': '#fce166',
 'xkcd:clay brown': '#b2713d',
 'xkcd:dark blue grey': '#1f3b4d',
 'xkcd:flat green': '#699d4c',
 'xkcd:light green blue': '#56fca2',
 'xkcd:warm pink': '#fb5581',
 'xkcd:dodger blue': '#3e82fc',
 'xkcd:gross green': '#a0bf16',
 'xkcd:ice': '#d6fffa',
 'xkcd:metallic blue': '#4f738e',
 'xkcd:pale salmon': '#ffb19a',
 'xkcd:sap green': '#5c8b15',
 'xkcd:algae': '#54ac68',
 'xkcd:bluey grey': '#89a0b0',
 'xkcd:greeny grey': '#7ea07a',
 'xkcd:highlighter green': '#1bfc06',
 'xkcd:light light blue': '#cafffb',
 'xkcd:light mint': '#b6ffbb',
 'xkcd:raw umber': '#a75e09',
 'xkcd:vivid blue': '#152eff',
 'xkcd:deep lavender': '#8d5eb7',
 'xkcd:dull teal': '#5f9e8f',
 'xkcd:light greenish blue': '#63f7b4',
 'xkcd:mud green': '#606602',
 'xkcd:pinky': '#fc86aa',
 'xkcd:red wine': '#8c0034',
 'xkcd:shit green': '#758000',
 'xkcd:tan brown': '#ab7e4c',
 'xkcd:darkblue': '#030764',
 'xkcd:rosa': '#fe86a4',
 'xkcd:lipstick': '#d5174e',
 'xkcd:pale mauve': '#fed0fc',
 'xkcd:claret': '#680018',
 'xkcd:dandelion': '#fedf08',
 'xkcd:orangered': '#fe420f',
 'xkcd:poop green': '#6f7c00',
 'xkcd:ruby': '#ca0147',
 'xkcd:dark': '#1b2431',
 'xkcd:greenish turquoise': '#00fbb0',
 'xkcd:pastel red': '#db5856',
 'xkcd:piss yellow': '#ddd618',
 'xkcd:bright cyan': '#41fdfe',
 'xkcd:dark coral': '#cf524e',
 'xkcd:algae green': '#21c36f',
 'xkcd:darkish red': '#a90308',
 'xkcd:reddy brown': '#6e1005',
 'xkcd:blush pink': '#fe828c',
 'xkcd:camouflage green': '#4b6113',
 'xkcd:lawn green': '#4da409',
 'xkcd:putty': '#beae8a',
 'xkcd:vibrant blue': '#0339f8',
 'xkcd:dark sand': '#a88f59',
 'xkcd:purple/blue': '#5d21d0',
 'xkcd:saffron': '#feb209',
 'xkcd:twilight': '#4e518b',
 'xkcd:warm brown': '#964e02',
 'xkcd:bluegrey': '#85a3b2',
 'xkcd:bubble gum pink': '#ff69af',
 'xkcd:duck egg blue': '#c3fbf4',
 'xkcd:greenish cyan': '#2afeb7',
 'xkcd:petrol': '#005f6a',
 'xkcd:royal': '#0c1793',
 'xkcd:butter': '#ffff81',
 'xkcd:dusty orange': '#f0833a',
 'xkcd:off yellow': '#f1f33f',
 'xkcd:pale olive green': '#b1d27b',
 'xkcd:orangish': '#fc824a',
 'xkcd:leaf': '#71aa34',
 'xkcd:light blue grey': '#b7c9e2',
 'xkcd:dried blood': '#4b0101',
 'xkcd:lightish purple': '#a552e6',
 'xkcd:rusty red': '#af2f0d',
 'xkcd:lavender blue': '#8b88f8',
 'xkcd:light grass green': '#9af764',
 'xkcd:light mint green': '#a6fbb2',
 'xkcd:sunflower': '#ffc512',
 'xkcd:velvet': '#750851',
 'xkcd:brick orange': '#c14a09',
 'xkcd:lightish red': '#fe2f4a',
 'xkcd:pure blue': '#0203e2',
 'xkcd:twilight blue': '#0a437a',
 'xkcd:violet red': '#a50055',
 'xkcd:yellowy brown': '#ae8b0c',
 'xkcd:carnation': '#fd798f',
 'xkcd:muddy yellow': '#bfac05',
 'xkcd:dark seafoam green': '#3eaf76',
 'xkcd:deep rose': '#c74767',
 'xkcd:dusty red': '#b9484e',
 'xkcd:grey/blue': '#647d8e',
 'xkcd:lemon lime': '#bffe28',
 'xkcd:purple/pink': '#d725de',
 'xkcd:brown yellow': '#b29705',
 'xkcd:purple brown': '#673a3f',
 'xkcd:wisteria': '#a87dc2',
 'xkcd:banana yellow': '#fafe4b',
 'xkcd:lipstick red': '#c0022f',
 'xkcd:water blue': '#0e87cc',
 'xkcd:brown grey': '#8d8468',
 'xkcd:vibrant purple': '#ad03de',
 'xkcd:baby green': '#8cff9e',
 'xkcd:barf green': '#94ac02',
 'xkcd:eggshell blue': '#c4fff7',
 'xkcd:sandy yellow': '#fdee73',
 'xkcd:cool green': '#33b864',
 'xkcd:pale': '#fff9d0',
 'xkcd:blue/grey': '#758da3',
 'xkcd:hot magenta': '#f504c9',
 'xkcd:greyblue': '#77a1b5',
 'xkcd:purpley': '#8756e4',
 'xkcd:baby shit green': '#889717',
 'xkcd:brownish pink': '#c27e79',
 'xkcd:dark aquamarine': '#017371',
 'xkcd:diarrhea': '#9f8303',
 'xkcd:light mustard': '#f7d560',
 'xkcd:pale sky blue': '#bdf6fe',
 'xkcd:turtle green': '#75b84f',
 'xkcd:bright olive': '#9cbb04',
 'xkcd:dark grey blue': '#29465b',
 'xkcd:greeny brown': '#696006',
 'xkcd:lemon green': '#adf802',
 'xkcd:light periwinkle': '#c1c6fc',
 'xkcd:seaweed green': '#35ad6b',
 'xkcd:sunshine yellow': '#fffd37',
 'xkcd:ugly purple': '#a442a0',
 'xkcd:medium pink': '#f36196',
 'xkcd:puke brown': '#947706',
 'xkcd:very light pink': '#fff4f2',
 'xkcd:viridian': '#1e9167',
 'xkcd:bile': '#b5c306',
 'xkcd:faded yellow': '#feff7f',
 'xkcd:very pale green': '#cffdbc',
 'xkcd:vibrant green': '#0add08',
 'xkcd:bright lime': '#87fd05',
 'xkcd:spearmint': '#1ef876',
 'xkcd:light aquamarine': '#7bfdc7',
 'xkcd:light sage': '#bcecac',
 'xkcd:yellowgreen': '#bbf90f',
 'xkcd:baby poo': '#ab9004',
 'xkcd:dark seafoam': '#1fb57a',
 'xkcd:deep teal': '#00555a',
 'xkcd:heather': '#a484ac',
 'xkcd:rust orange': '#c45508',
 'xkcd:dirty blue': '#3f829d',
 'xkcd:fern green': '#548d44',
 'xkcd:bright lilac': '#c95efb',
 'xkcd:weird green': '#3ae57f',
 'xkcd:peacock blue': '#016795',
 'xkcd:avocado green': '#87a922',
 'xkcd:faded orange': '#f0944d',
 'xkcd:grape purple': '#5d1451',
 'xkcd:hot green': '#25ff29',
 'xkcd:lime yellow': '#d0fe1d',
 'xkcd:mango': '#ffa62b',
 'xkcd:shamrock': '#01b44c',
 'xkcd:bubblegum': '#ff6cb5',
 'xkcd:purplish brown': '#6b4247',
 'xkcd:vomit yellow': '#c7c10c',
 'xkcd:pale cyan': '#b7fffa',
 'xkcd:key lime': '#aeff6e',
 'xkcd:tomato red': '#ec2d01',
 'xkcd:lightgreen': '#76ff7b',
 'xkcd:merlot': '#730039',
 'xkcd:night blue': '#040348',
 'xkcd:purpleish pink': '#df4ec8',
 'xkcd:apple': '#6ecb3c',
 'xkcd:baby poop green': '#8f9805',
 'xkcd:green apple': '#5edc1f',
 'xkcd:heliotrope': '#d94ff5',
 'xkcd:yellow/green': '#c8fd3d',
 'xkcd:almost black': '#070d0d',
 'xkcd:cool blue': '#4984b8',
 'xkcd:leafy green': '#51b73b',
 'xkcd:mustard brown': '#ac7e04',
 'xkcd:dusk': '#4e5481',
 'xkcd:dull brown': '#876e4b',
 'xkcd:frog green': '#58bc08',
 'xkcd:vivid green': '#2fef10',
 'xkcd:bright light green': '#2dfe54',
 'xkcd:fluro green': '#0aff02',
 'xkcd:kiwi': '#9cef43',
 'xkcd:seaweed': '#18d17b',
 'xkcd:navy green': '#35530a',
 'xkcd:ultramarine blue': '#1805db',
 'xkcd:iris': '#6258c4',
 'xkcd:pastel orange': '#ff964f',
 'xkcd:yellowish orange': '#ffab0f',
 'xkcd:perrywinkle': '#8f8ce7',
 'xkcd:tealish': '#24bca8',
 'xkcd:dark plum': '#3f012c',
 'xkcd:pear': '#cbf85f',
 'xkcd:pinkish orange': '#ff724c',
 'xkcd:midnight purple': '#280137',
 'xkcd:light urple': '#b36ff6',
 'xkcd:dark mint': '#48c072',
 'xkcd:greenish tan': '#bccb7a',
 'xkcd:light burgundy': '#a8415b',
 'xkcd:turquoise blue': '#06b1c4',
 'xkcd:ugly pink': '#cd7584',
 'xkcd:sandy': '#f1da7a',
 'xkcd:electric pink': '#ff0490',
 'xkcd:muted purple': '#805b87',
 'xkcd:mid green': '#50a747',
 'xkcd:greyish': '#a8a495',
 'xkcd:neon yellow': '#cfff04',
 'xkcd:banana': '#ffff7e',
 'xkcd:carnation pink': '#ff7fa7',
 'xkcd:tomato': '#ef4026',
 'xkcd:sea': '#3c9992',
 'xkcd:muddy brown': '#886806',
 'xkcd:turquoise green': '#04f489',
 'xkcd:buff': '#fef69e',
 'xkcd:fawn': '#cfaf7b',
 'xkcd:muted blue': '#3b719f',
 'xkcd:pale rose': '#fdc1c5',
 'xkcd:dark mint green': '#20c073',
 'xkcd:amethyst': '#9b5fc0',
 'xkcd:blue/green': '#0f9b8e',
 'xkcd:chestnut': '#742802',
 'xkcd:sick green': '#9db92c',
 'xkcd:pea': '#a4bf20',
 'xkcd:rusty orange': '#cd5909',
 'xkcd:stone': '#ada587',
 'xkcd:rose red': '#be013c',
 'xkcd:pale aqua': '#b8ffeb',
 'xkcd:deep orange': '#dc4d01',
 'xkcd:earth': '#a2653e',
 'xkcd:mossy green': '#638b27',
 'xkcd:grassy green': '#419c03',
 'xkcd:pale lime green': '#b1ff65',
 'xkcd:light grey blue': '#9dbcd4',
 'xkcd:pale grey': '#fdfdfe',
 'xkcd:asparagus': '#77ab56',
 'xkcd:blueberry': '#464196',
 'xkcd:purple red': '#990147',
 'xkcd:pale lime': '#befd73',
 'xkcd:greenish teal': '#32bf84',
 'xkcd:caramel': '#af6f09',
 'xkcd:deep magenta': '#a0025c',
 'xkcd:light peach': '#ffd8b1',
 'xkcd:milk chocolate': '#7f4e1e',
 'xkcd:ocher': '#bf9b0c',
 'xkcd:off green': '#6ba353',
 'xkcd:purply pink': '#f075e6',
 'xkcd:lightblue': '#7bc8f6',
 'xkcd:dusky blue': '#475f94',
 'xkcd:golden': '#f5bf03',
 'xkcd:light beige': '#fffeb6',
 'xkcd:butter yellow': '#fffd74',
 'xkcd:dusky purple': '#895b7b',
 'xkcd:french blue': '#436bad',
 'xkcd:ugly yellow': '#d0c101',
 'xkcd:greeny yellow': '#c6f808',
 'xkcd:orangish red': '#f43605',
 'xkcd:shamrock green': '#02c14d',
 'xkcd:orangish brown': '#b25f03',
 'xkcd:tree green': '#2a7e19',
 'xkcd:deep violet': '#490648',
 'xkcd:gunmetal': '#536267',
 'xkcd:blue/purple': '#5a06ef',
 'xkcd:cherry': '#cf0234',
 'xkcd:sandy brown': '#c4a661',
 'xkcd:warm grey': '#978a84',
 'xkcd:dark indigo': '#1f0954',
 'xkcd:midnight': '#03012d',
 'xkcd:bluey green': '#2bb179',
 'xkcd:grey pink': '#c3909b',
 'xkcd:soft purple': '#a66fb5',
 'xkcd:blood': '#770001',
 'xkcd:brown red': '#922b05',
 'xkcd:medium grey': '#7d7f7c',
 'xkcd:berry': '#990f4b',
 'xkcd:poo': '#8f7303',
 'xkcd:purpley pink': '#c83cb9',
 'xkcd:light salmon': '#fea993',
 'xkcd:snot': '#acbb0d',
 'xkcd:easter purple': '#c071fe',
 'xkcd:light yellow green': '#ccfd7f',
 'xkcd:dark navy blue': '#00022e',
 'xkcd:drab': '#828344',
 'xkcd:light rose': '#ffc5cb',
 'xkcd:rouge': '#ab1239',
 'xkcd:purplish red': '#b0054b',
 'xkcd:slime green': '#99cc04',
 'xkcd:baby poop': '#937c00',
 'xkcd:irish green': '#019529',
 'xkcd:pink/purple': '#ef1de7',
 'xkcd:dark navy': '#000435',
 'xkcd:greeny blue': '#42b395',
 'xkcd:light plum': '#9d5783',
 'xkcd:pinkish grey': '#c8aca9',
 'xkcd:dirty orange': '#c87606',
 'xkcd:rust red': '#aa2704',
 'xkcd:pale lilac': '#e4cbff',
 'xkcd:orangey red': '#fa4224',
 'xkcd:primary blue': '#0804f9',
 'xkcd:kermit green': '#5cb200',
 'xkcd:brownish purple': '#76424e',
 'xkcd:murky green': '#6c7a0e',
 'xkcd:wheat': '#fbdd7e',
 'xkcd:very dark purple': '#2a0134',
 'xkcd:bottle green': '#044a05',
 'xkcd:watermelon': '#fd4659',
 'xkcd:deep sky blue': '#0d75f8',
 'xkcd:fire engine red': '#fe0002',
 'xkcd:yellow ochre': '#cb9d06',
 'xkcd:pumpkin orange': '#fb7d07',
 'xkcd:pale olive': '#b9cc81',
 'xkcd:light lilac': '#edc8ff',
 'xkcd:lightish green': '#61e160',
 'xkcd:carolina blue': '#8ab8fe',
 'xkcd:mulberry': '#920a4e',
 'xkcd:shocking pink': '#fe02a2',
 'xkcd:auburn': '#9a3001',
 'xkcd:bright lime green': '#65fe08',
 'xkcd:celadon': '#befdb7',
 'xkcd:pinkish brown': '#b17261',
 'xkcd:poo brown': '#885f01',
 'xkcd:bright sky blue': '#02ccfe',
 'xkcd:celery': '#c1fd95',
 'xkcd:dirt brown': '#836539',
 'xkcd:strawberry': '#fb2943',
 'xkcd:dark lime': '#84b701',
 'xkcd:copper': '#b66325',
 'xkcd:medium brown': '#7f5112',
 'xkcd:muted green': '#5fa052',
 "xkcd:robin's egg": '#6dedfd',
 'xkcd:bright aqua': '#0bf9ea',
 'xkcd:bright lavender': '#c760ff',
 'xkcd:ivory': '#ffffcb',
 'xkcd:very light purple': '#f6cefc',
 'xkcd:light navy': '#155084',
 'xkcd:pink red': '#f5054f',
 'xkcd:olive brown': '#645403',
 'xkcd:poop brown': '#7a5901',
 'xkcd:mustard green': '#a8b504',
 'xkcd:ocean green': '#3d9973',
 'xkcd:very dark blue': '#000133',
 'xkcd:dusty green': '#76a973',
 'xkcd:light navy blue': '#2e5a88',
 'xkcd:minty green': '#0bf77d',
 'xkcd:adobe': '#bd6c48',
 'xkcd:barney': '#ac1db8',
 'xkcd:jade green': '#2baf6a',
 'xkcd:bright light blue': '#26f7fd',
 'xkcd:light lime': '#aefd6c',
 'xkcd:dark khaki': '#9b8f55',
 'xkcd:orange yellow': '#ffad01',
 'xkcd:ocre': '#c69c04',
 'xkcd:maize': '#f4d054',
 'xkcd:faded pink': '#de9dac',
 'xkcd:british racing green': '#05480d',
 'xkcd:sandstone': '#c9ae74',
 'xkcd:mud brown': '#60460f',
 'xkcd:light sea green': '#98f6b0',
 'xkcd:robin egg blue': '#8af1fe',
 'xkcd:aqua marine': '#2ee8bb',
 'xkcd:dark sea green': '#11875d',
 'xkcd:soft pink': '#fdb0c0',
 'xkcd:orangey brown': '#b16002',
 'xkcd:cherry red': '#f7022a',
 'xkcd:burnt yellow': '#d5ab09',
 'xkcd:brownish grey': '#86775f',
 'xkcd:camel': '#c69f59',
 'xkcd:purplish grey': '#7a687f',
 'xkcd:marine': '#042e60',
 'xkcd:greyish pink': '#c88d94',
 'xkcd:pale turquoise': '#a5fbd5',
 'xkcd:pastel yellow': '#fffe71',
 'xkcd:bluey purple': '#6241c7',
 'xkcd:canary yellow': '#fffe40',
 'xkcd:faded red': '#d3494e',
 'xkcd:sepia': '#985e2b',
 'xkcd:coffee': '#a6814c',
 'xkcd:bright magenta': '#ff08e8',
 'xkcd:mocha': '#9d7651',
 'xkcd:ecru': '#feffca',
 'xkcd:purpleish': '#98568d',
 'xkcd:cranberry': '#9e003a',
 'xkcd:darkish green': '#287c37',
 'xkcd:brown orange': '#b96902',
 'xkcd:dusky rose': '#ba6873',
 'xkcd:melon': '#ff7855',
 'xkcd:sickly green': '#94b21c',
 'xkcd:silver': '#c5c9c7',
 'xkcd:purply blue': '#661aee',
 'xkcd:purpleish blue': '#6140ef',
 'xkcd:hospital green': '#9be5aa',
 'xkcd:shit brown': '#7b5804',
 'xkcd:mid blue': '#276ab3',
 'xkcd:amber': '#feb308',
 'xkcd:easter green': '#8cfd7e',
 'xkcd:soft blue': '#6488ea',
 'xkcd:cerulean blue': '#056eee',
 'xkcd:golden brown': '#b27a01',
 'xkcd:bright turquoise': '#0ffef9',
 'xkcd:red pink': '#fa2a55',
 'xkcd:red purple': '#820747',
 'xkcd:greyish brown': '#7a6a4f',
 'xkcd:vermillion': '#f4320c',
 'xkcd:russet': '#a13905',
 'xkcd:steel grey': '#6f828a',
 'xkcd:lighter purple': '#a55af4',
 'xkcd:bright violet': '#ad0afd',
 'xkcd:prussian blue': '#004577',
 'xkcd:slate green': '#658d6d',
 'xkcd:dirty pink': '#ca7b80',
 'xkcd:dark blue green': '#005249',
 'xkcd:pine': '#2b5d34',
 'xkcd:yellowy green': '#bff128',
 'xkcd:dark gold': '#b59410',
 'xkcd:bluish': '#2976bb',
 'xkcd:darkish blue': '#014182',
 'xkcd:dull red': '#bb3f3f',
 'xkcd:pinky red': '#fc2647',
 'xkcd:bronze': '#a87900',
 'xkcd:pale teal': '#82cbb2',
 'xkcd:military green': '#667c3e',
 'xkcd:barbie pink': '#fe46a5',
 'xkcd:bubblegum pink': '#fe83cc',
 'xkcd:pea soup green': '#94a617',
 'xkcd:dark mustard': '#a88905',
 'xkcd:shit': '#7f5f00',
 'xkcd:medium purple': '#9e43a2',
 'xkcd:very dark green': '#062e03',
 'xkcd:dirt': '#8a6e45',
 'xkcd:dusky pink': '#cc7a8b',
 'xkcd:red violet': '#9e0168',
 'xkcd:lemon yellow': '#fdff38',
 'xkcd:pistachio': '#c0fa8b',
 'xkcd:dull yellow': '#eedc5b',
 'xkcd:dark lime green': '#7ebd01',
 'xkcd:denim blue': '#3b5b92',
 'xkcd:teal blue': '#01889f',
 'xkcd:lightish blue': '#3d7afd',
 'xkcd:purpley blue': '#5f34e7',
 'xkcd:light indigo': '#6d5acf',
 'xkcd:swamp green': '#748500',
 'xkcd:brown green': '#706c11',
 'xkcd:dark maroon': '#3c0008',
 'xkcd:hot purple': '#cb00f5',
 'xkcd:dark forest green': '#002d04',
 'xkcd:faded blue': '#658cbb',
 'xkcd:drab green': '#749551',
 'xkcd:light lime green': '#b9ff66',
 'xkcd:snot green': '#9dc100',
 'xkcd:yellowish': '#faee66',
 'xkcd:light blue green': '#7efbb3',
 'xkcd:bordeaux': '#7b002c',
 'xkcd:light mauve': '#c292a1',
 'xkcd:ocean': '#017b92',
 'xkcd:marigold': '#fcc006',
 'xkcd:muddy green': '#657432',
 'xkcd:dull orange': '#d8863b',
 'xkcd:steel': '#738595',
 'xkcd:electric purple': '#aa23ff',
 'xkcd:fluorescent green': '#08ff08',

In [38]:
df.groupby('A').agg({'B':'sum', 'C':'sum'}, axis=0)

   B  C
A
1  3  0
2  7  2
3  5  2

In [62]:
df.groupby('A').agg({'sum'}, axis=1)

    B   C
  sum sum
A
1   3   0
2   7   2
3   5   2

In [39]:
df.groupby('A').agg(lambda row: row.sum())

   B  C
A
1  3  0
2  7  2
3  5  2

In [42]:
import pandas as pd
import numpy as np
df = pd.DataFrame([[1,1,0],[1,2,0],[2,3,1],[2,4,1],[3,5,2]], columns=['A', 'B', 'C'])
df

   A  B  C
0  1  1  0
1  1  2  0
2  2  3  1
3  2  4  1
4  3  5  2

In [57]:
df.agg(np.sum, axis='columns').to_frame()

    0
0   2
1   3
2   6
3   7
4  10

In [58]:
df.agg(np.sum, axis='index').to_frame()

    0
A   9
B  15
C   4

In [63]:
!pip install --upgrade jupyterlab-git

Requirement already up-to-date: jupyterlab-git in c:\users\greym\anaconda3\lib\site-packages (0.20.0)
Requirement already satisfied, skipping upgrade: pexpect in c:\users\greym\anaconda3\lib\site-packages (from jupyterlab-git) (4.8.0)
Requirement already satisfied, skipping upgrade: nbdime~=2.0 in c:\users\greym\anaconda3\lib\site-packages (from jupyterlab-git) (2.0.0)
Requirement already satisfied, skipping upgrade: notebook in c:\users\greym\anaconda3\lib\site-packages (from jupyterlab-git) (6.0.3)
Requirement already satisfied, skipping upgrade: ptyprocess>=0.5 in c:\users\greym\anaconda3\lib\site-packages (from pexpect->jupyterlab-git) (0.6.0)
Requirement already satisfied, skipping upgrade: nbformat in c:\users\greym\anaconda3\lib\site-packages (from nbdime~=2.0->jupyterlab-git) (5.0.4)
Requirement already satisfied, skipping upgrade: GitPython!=2.1.4,!=2.1.5,!=2.1.6 in c:\users\greym\anaconda3\lib\site-packages (from nbdime~=2.0->jupyterlab-git) (3.1.3)
Requirement already satisfied, skipping upgrade: tornado in c:\users\greym\anaconda3\lib\site-packages (from nbdime~=2.0->jupyterlab-git) (6.0.3)
Requirement already satisfied, skipping upgrade: six in c:\users\greym\anaconda3\lib\site-packages (from nbdime~=2.0->jupyterlab-git) (1.14.0)
Requirement already satisfied, skipping upgrade: requests in c:\users\greym\anaconda3\lib\site-packages (from nbdime~=2.0->jupyterlab-git) (2.22.0)
Requirement already satisfied, skipping upgrade: colorama in c:\users\greym\anaconda3\lib\site-packages (from nbdime~=2.0->jupyterlab-git) (0.4.3)
Requirement already satisfied, skipping upgrade: pygments in c:\users\greym\anaconda3\lib\site-packages (from nbdime~=2.0->jupyterlab-git) (2.5.2)
Requirement already satisfied, skipping upgrade: jinja2>=2.9 in c:\users\greym\anaconda3\lib\site-packages (from nbdime~=2.0->jupyterlab-git) (2.11.1)
Requirement already satisfied, skipping upgrade: ipykernel in c:\users\greym\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (5.1.4)
Requirement already satisfied, skipping upgrade: terminado>=0.8.1 in c:\users\greym\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (0.8.3)
Requirement already satisfied, skipping upgrade: Send2Trash in c:\users\greym\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (1.5.0)
Requirement already satisfied, skipping upgrade: ipython-genutils in c:\users\greym\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (0.2.0)
Requirement already satisfied, skipping upgrade: jupyter-client>=5.3.4 in c:\users\greym\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (5.3.4)
Requirement already satisfied, skipping upgrade: nbconvert in c:\users\greym\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (5.6.1)
Requirement already satisfied, skipping upgrade: jupyter-core>=4.6.1 in c:\users\greym\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (4.6.1)
Requirement already satisfied, skipping upgrade: pyzmq>=17 in c:\users\greym\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (18.1.1)
Requirement already satisfied, skipping upgrade: traitlets>=4.2.1 in c:\users\greym\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (4.3.3)
Requirement already satisfied, skipping upgrade: prometheus-client in c:\users\greym\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (0.7.1)
Requirement already satisfied, skipping upgrade: jsonschema!=2.5.0,>=2.4 in c:\users\greym\anaconda3\lib\site-packages (from nbformat->nbdime~=2.0->jupyterlab-git) (3.2.0)
Requirement already satisfied, skipping upgrade: gitdb<5,>=4.0.1 in c:\users\greym\anaconda3\lib\site-packages (from GitPython!=2.1.4,!=2.1.5,!=2.1.6->nbdime~=2.0->jupyterlab-git) (4.0.5)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in c:\users\greym\anaconda3\lib\site-packages (from requests->nbdime~=2.0->jupyterlab-git) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in c:\users\greym\anaconda3\lib\site-packages (from requests->nbdime~=2.0->jupyterlab-git) (2.8)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\users\greym\anaconda3\lib\site-packages (from requests->nbdime~=2.0->jupyterlab-git) (2019.11.28)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\greym\anaconda3\lib\site-packages (from requests->nbdime~=2.0->jupyterlab-git) (1.25.8)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in c:\users\greym\anaconda3\lib\site-packages (from jinja2>=2.9->nbdime~=2.0->jupyterlab-git) (1.1.1)
Requirement already satisfied, skipping upgrade: ipython>=5.0.0 in c:\users\greym\anaconda3\lib\site-packages (from ipykernel->notebook->jupyterlab-git) (7.12.0)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.1 in c:\users\greym\anaconda3\lib\site-packages (from jupyter-client>=5.3.4->notebook->jupyterlab-git) (2.8.1)
Requirement already satisfied, skipping upgrade: pywin32>=1.0; sys_platform == "win32" in c:\users\greym\anaconda3\lib\site-packages (from jupyter-client>=5.3.4->notebook->jupyterlab-git) (227)
Requirement already satisfied, skipping upgrade: bleach in c:\users\greym\anaconda3\lib\site-packages (from nbconvert->notebook->jupyterlab-git) (3.1.0)
Requirement already satisfied, skipping upgrade: pandocfilters>=1.4.1 in c:\users\greym\anaconda3\lib\site-packages (from nbconvert->notebook->jupyterlab-git) (1.4.2)
Requirement already satisfied, skipping upgrade: testpath in c:\users\greym\anaconda3\lib\site-packages (from nbconvert->notebook->jupyterlab-git) (0.4.4)
Requirement already satisfied, skipping upgrade: entrypoints>=0.2.2 in c:\users\greym\anaconda3\lib\site-packages (from nbconvert->notebook->jupyterlab-git) (0.3)
Requirement already satisfied, skipping upgrade: defusedxml in c:\users\greym\anaconda3\lib\site-packages (from nbconvert->notebook->jupyterlab-git) (0.6.0)
Requirement already satisfied, skipping upgrade: mistune<2,>=0.8.1 in c:\users\greym\anaconda3\lib\site-packages (from nbconvert->notebook->jupyterlab-git) (0.8.4)
Requirement already satisfied, skipping upgrade: decorator in c:\users\greym\anaconda3\lib\site-packages (from traitlets>=4.2.1->notebook->jupyterlab-git) (4.4.1)
Requirement already satisfied, skipping upgrade: pyrsistent>=0.14.0 in c:\users\greym\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->nbdime~=2.0->jupyterlab-git) (0.15.7)
Requirement already satisfied, skipping upgrade: setuptools in c:\users\greym\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->nbdime~=2.0->jupyterlab-git) (45.2.0.post20200210)
Requirement already satisfied, skipping upgrade: attrs>=17.4.0 in c:\users\greym\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->nbdime~=2.0->jupyterlab-git) (19.3.0)
Requirement already satisfied, skipping upgrade: importlib-metadata; python_version < "3.8" in c:\users\greym\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->nbdime~=2.0->jupyterlab-git) (1.5.0)
Requirement already satisfied, skipping upgrade: smmap<4,>=3.0.1 in c:\users\greym\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->GitPython!=2.1.4,!=2.1.5,!=2.1.6->nbdime~=2.0->jupyterlab-git) (3.0.4)
Requirement already satisfied, skipping upgrade: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\greym\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook->jupyterlab-git) (3.0.3)
Requirement already satisfied, skipping upgrade: backcall in c:\users\greym\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook->jupyterlab-git) (0.1.0)
Requirement already satisfied, skipping upgrade: pickleshare in c:\users\greym\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook->jupyterlab-git) (0.7.5)
Requirement already satisfied, skipping upgrade: jedi>=0.10 in c:\users\greym\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook->jupyterlab-git) (0.14.1)
Requirement already satisfied, skipping upgrade: webencodings in c:\users\greym\anaconda3\lib\site-packages (from bleach->nbconvert->notebook->jupyterlab-git) (0.5.1)
Requirement already satisfied, skipping upgrade: zipp>=0.5 in c:\users\greym\anaconda3\lib\site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat->nbdime~=2.0->jupyterlab-git) (2.2.0)
Requirement already satisfied, skipping upgrade: wcwidth in c:\users\greym\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.0.0->ipykernel->notebook->jupyterlab-git) (0.1.8)
Requirement already satisfied, skipping upgrade: parso>=0.5.0 in c:\users\greym\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=5.0.0->ipykernel->notebook->jupyterlab-git) (0.5.2)

In [1]:
!pip install nbdime

Requirement already satisfied: nbdime in c:\users\greym\anaconda3\lib\site-packages (2.0.0)
Requirement already satisfied: six in c:\users\greym\anaconda3\lib\site-packages (from nbdime) (1.14.0)
Requirement already satisfied: nbformat in c:\users\greym\anaconda3\lib\site-packages (from nbdime) (5.0.4)
Requirement already satisfied: tornado in c:\users\greym\anaconda3\lib\site-packages (from nbdime) (6.0.3)
Requirement already satisfied: pygments in c:\users\greym\anaconda3\lib\site-packages (from nbdime) (2.5.2)
Requirement already satisfied: notebook in c:\users\greym\anaconda3\lib\site-packages (from nbdime) (6.0.3)
Requirement already satisfied: requests in c:\users\greym\anaconda3\lib\site-packages (from nbdime) (2.22.0)
Requirement already satisfied: jinja2>=2.9 in c:\users\greym\anaconda3\lib\site-packages (from nbdime) (2.11.1)
Requirement already satisfied: colorama in c:\users\greym\anaconda3\lib\site-packages (from nbdime) (0.4.3)
Requirement already satisfied: GitPython!=2.1.4,!=2.1.5,!=2.1.6 in c:\users\greym\anaconda3\lib\site-packages (from nbdime) (3.1.3)
Requirement already satisfied: jupyter-core in c:\users\greym\anaconda3\lib\site-packages (from nbformat->nbdime) (4.6.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\greym\anaconda3\lib\site-packages (from nbformat->nbdime) (3.2.0)
Requirement already satisfied: traitlets>=4.1 in c:\users\greym\anaconda3\lib\site-packages (from nbformat->nbdime) (4.3.3)
Requirement already satisfied: ipython-genutils in c:\users\greym\anaconda3\lib\site-packages (from nbformat->nbdime) (0.2.0)
Requirement already satisfied: ipykernel in c:\users\greym\anaconda3\lib\site-packages (from notebook->nbdime) (5.1.4)
Requirement already satisfied: Send2Trash in c:\users\greym\anaconda3\lib\site-packages (from notebook->nbdime) (1.5.0)
Requirement already satisfied: nbconvert in c:\users\greym\anaconda3\lib\site-packages (from notebook->nbdime) (5.6.1)
Requirement already satisfied: jupyter-client>=5.3.4 in c:\users\greym\anaconda3\lib\site-packages (from notebook->nbdime) (5.3.4)
Requirement already satisfied: terminado>=0.8.1 in c:\users\greym\anaconda3\lib\site-packages (from notebook->nbdime) (0.8.3)
Requirement already satisfied: prometheus-client in c:\users\greym\anaconda3\lib\site-packages (from notebook->nbdime) (0.7.1)
Requirement already satisfied: pyzmq>=17 in c:\users\greym\anaconda3\lib\site-packages (from notebook->nbdime) (18.1.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\greym\anaconda3\lib\site-packages (from requests->nbdime) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\greym\anaconda3\lib\site-packages (from requests->nbdime) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\greym\anaconda3\lib\site-packages (from requests->nbdime) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\greym\anaconda3\lib\site-packages (from requests->nbdime) (3.0.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\greym\anaconda3\lib\site-packages (from jinja2>=2.9->nbdime) (1.1.1)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\greym\anaconda3\lib\site-packages (from GitPython!=2.1.4,!=2.1.5,!=2.1.6->nbdime) (4.0.5)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\greym\anaconda3\lib\site-packages (from jupyter-core->nbformat->nbdime) (227)
Requirement already satisfied: attrs>=17.4.0 in c:\users\greym\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->nbdime) (19.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\greym\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->nbdime) (0.15.7)
Requirement already satisfied: setuptools in c:\users\greym\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->nbdime) (45.2.0.post20200210)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in c:\users\greym\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->nbdime) (1.5.0)
Requirement already satisfied: decorator in c:\users\greym\anaconda3\lib\site-packages (from traitlets>=4.1->nbformat->nbdime) (4.4.1)
Requirement already satisfied: ipython>=5.0.0 in c:\users\greym\anaconda3\lib\site-packages (from ipykernel->notebook->nbdime) (7.12.0)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\greym\anaconda3\lib\site-packages (from nbconvert->notebook->nbdime) (0.3)
Requirement already satisfied: bleach in c:\users\greym\anaconda3\lib\site-packages (from nbconvert->notebook->nbdime) (3.1.0)
Requirement already satisfied: defusedxml in c:\users\greym\anaconda3\lib\site-packages (from nbconvert->notebook->nbdime) (0.6.0)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\greym\anaconda3\lib\site-packages (from nbconvert->notebook->nbdime) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\greym\anaconda3\lib\site-packages (from nbconvert->notebook->nbdime) (1.4.2)
Requirement already satisfied: testpath in c:\users\greym\anaconda3\lib\site-packages (from nbconvert->notebook->nbdime) (0.4.4)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\greym\anaconda3\lib\site-packages (from jupyter-client>=5.3.4->notebook->nbdime) (2.8.1)
Requirement already satisfied: smmap<4,>=3.0.1 in c:\users\greym\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->GitPython!=2.1.4,!=2.1.5,!=2.1.6->nbdime) (3.0.4)
Requirement already satisfied: zipp>=0.5 in c:\users\greym\anaconda3\lib\site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat->nbdime) (2.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\greym\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook->nbdime) (3.0.3)
Requirement already satisfied: backcall in c:\users\greym\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook->nbdime) (0.1.0)
Requirement already satisfied: jedi>=0.10 in c:\users\greym\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook->nbdime) (0.14.1)
Requirement already satisfied: pickleshare in c:\users\greym\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook->nbdime) (0.7.5)
Requirement already satisfied: webencodings in c:\users\greym\anaconda3\lib\site-packages (from bleach->nbconvert->notebook->nbdime) (0.5.1)
Requirement already satisfied: wcwidth in c:\users\greym\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.0.0->ipykernel->notebook->nbdime) (0.1.8)
Requirement already satisfied: parso>=0.5.0 in c:\users\greym\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=5.0.0->ipykernel->notebook->nbdime) (0.5.2)

In [65]:
jupyter serverextension list

SyntaxError: invalid syntax (<ipython-input-65-9683ae3d70f1>, line 1)

In [101]:
x1, y1 = list(input().lower())
x2, y2 = list(input().lower())
y1, y2 = int(y1), int(y2)

chessboard = dict(zip(('a','b','c','d','e','f','g','h'),(range(1,9))))
x1, x2 = chessboard[x1], chessboard[x2]
print(f'коорд. 1й клетки: {x1,y1}',f'коорд. 2й клетки: {x2,y2}', sep='\n')

 d4
 e8

коорд. 1й клетки: (4, 4)
коорд. 2й клетки: (5, 8)

In [96]:
dict((chr(i+ord('`')), i) for i in range(1,9))

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8}

In [100]:
input1 = input('введите координаты 1й клетки: ')
input2 = input('введите координаты 2й клетки: ')
x1 = input1[0]
y1 = input1[1]
x2 = input2[0]
y2 = input2[1]
print('координаты 1й клетки', x1,y1)
print('координаты 2й клетки', x2,y2)

введите координаты 1й клетки:  d4
введите координаты 2й клетки:  e5

координаты 1й клетки d 4
координаты 2й клетки e 5

In [106]:
import pandas as pd

df1 = pd.DataFrame({"key": ["a", "c", "e", "a", "c", "e"], "lvalue": [1, 2, 3, 1, 2, 3], "group": ["a", "a", "a", "b", "b", "b"]})
df1

  key  lvalue group
0   a       1     a
1   c       2     a
2   e       3     a
3   a       1     b
4   c       2     b
5   e       3     b

In [111]:
df1.groupby('group').get_group('b')

  key  lvalue group
3   a       1     b
4   c       2     b
5   e       3     b

In [113]:
pd.cut(np.array([1, 7, 5, 4, 6, 3]), 3)

[(0.994, 3.0], (5.0, 7.0], (3.0, 5.0], (3.0, 5.0], (5.0, 7.0], (0.994, 3.0]]
Categories (3, interval[float64]): [(0.994, 3.0] < (3.0, 5.0] < (5.0, 7.0]]

In [3]:
import os
os.getcwd()

'D:\\Курсы\\Skillbox\\Data Science\\16. Чтение и запись данных ч.1\\Dzhumurat'

In [1]:
!pip install --upgrade jupyterlab-git

Requirement already up-to-date: jupyterlab-git in c:\users\greym\anaconda3\lib\site-packages (0.20.0)
Requirement already satisfied, skipping upgrade: notebook in c:\users\greym\anaconda3\lib\site-packages (from jupyterlab-git) (6.0.3)
Requirement already satisfied, skipping upgrade: pexpect in c:\users\greym\anaconda3\lib\site-packages (from jupyterlab-git) (4.8.0)
Requirement already satisfied, skipping upgrade: nbdime~=2.0 in c:\users\greym\anaconda3\lib\site-packages (from jupyterlab-git) (2.0.0)
Requirement already satisfied, skipping upgrade: ipykernel in c:\users\greym\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (5.3.2)
Requirement already satisfied, skipping upgrade: Send2Trash in c:\users\greym\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (1.5.0)
Requirement already satisfied, skipping upgrade: traitlets>=4.2.1 in c:\users\greym\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (4.3.3)
Requirement already satisfied, skipping upgrade: nbformat in c:\users\greym\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (5.0.7)
Requirement already satisfied, skipping upgrade: terminado>=0.8.1 in c:\users\greym\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (0.8.3)
Requirement already satisfied, skipping upgrade: jupyter-core>=4.6.1 in c:\users\greym\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (4.6.3)
Requirement already satisfied, skipping upgrade: jupyter-client>=5.3.4 in c:\users\greym\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (6.1.6)
Requirement already satisfied, skipping upgrade: ipython-genutils in c:\users\greym\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (0.2.0)
Requirement already satisfied, skipping upgrade: pyzmq>=17 in c:\users\greym\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (19.0.1)
Requirement already satisfied, skipping upgrade: prometheus-client in c:\users\greym\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (0.8.0)
Requirement already satisfied, skipping upgrade: tornado>=5.0 in c:\users\greym\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (6.0.4)
Requirement already satisfied, skipping upgrade: nbconvert in c:\users\greym\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (5.6.1)
Requirement already satisfied, skipping upgrade: jinja2 in c:\users\greym\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (2.11.2)
Requirement already satisfied, skipping upgrade: ptyprocess>=0.5 in c:\users\greym\anaconda3\lib\site-packages (from pexpect->jupyterlab-git) (0.6.0)
Requirement already satisfied, skipping upgrade: colorama in c:\users\greym\anaconda3\lib\site-packages (from nbdime~=2.0->jupyterlab-git) (0.4.3)
Requirement already satisfied, skipping upgrade: requests in c:\users\greym\anaconda3\lib\site-packages (from nbdime~=2.0->jupyterlab-git) (2.24.0)
Requirement already satisfied, skipping upgrade: pygments in c:\users\greym\anaconda3\lib\site-packages (from nbdime~=2.0->jupyterlab-git) (2.6.1)
Requirement already satisfied, skipping upgrade: GitPython!=2.1.4,!=2.1.5,!=2.1.6 in c:\users\greym\anaconda3\lib\site-packages (from nbdime~=2.0->jupyterlab-git) (3.1.7)
Requirement already satisfied, skipping upgrade: six in c:\users\greym\anaconda3\lib\site-packages (from nbdime~=2.0->jupyterlab-git) (1.15.0)
Requirement already satisfied, skipping upgrade: ipython>=5.0.0 in c:\users\greym\anaconda3\lib\site-packages (from ipykernel->notebook->jupyterlab-git) (7.16.1)
Requirement already satisfied, skipping upgrade: decorator in c:\users\greym\anaconda3\lib\site-packages (from traitlets>=4.2.1->notebook->jupyterlab-git) (4.4.2)
Requirement already satisfied, skipping upgrade: jsonschema!=2.5.0,>=2.4 in c:\users\greym\anaconda3\lib\site-packages (from nbformat->notebook->jupyterlab-git) (3.2.0)
Requirement already satisfied, skipping upgrade: pywin32>=1.0; sys_platform == "win32" in c:\users\greym\anaconda3\lib\site-packages (from jupyter-core>=4.6.1->notebook->jupyterlab-git) (227)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.1 in c:\users\greym\anaconda3\lib\site-packages (from jupyter-client>=5.3.4->notebook->jupyterlab-git) (2.8.1)
Requirement already satisfied, skipping upgrade: testpath in c:\users\greym\anaconda3\lib\site-packages (from nbconvert->notebook->jupyterlab-git) (0.4.4)
Requirement already satisfied, skipping upgrade: entrypoints>=0.2.2 in c:\users\greym\anaconda3\lib\site-packages (from nbconvert->notebook->jupyterlab-git) (0.3)
Requirement already satisfied, skipping upgrade: defusedxml in c:\users\greym\anaconda3\lib\site-packages (from nbconvert->notebook->jupyterlab-git) (0.6.0)
Requirement already satisfied, skipping upgrade: pandocfilters>=1.4.1 in c:\users\greym\anaconda3\lib\site-packages (from nbconvert->notebook->jupyterlab-git) (1.4.2)
Requirement already satisfied, skipping upgrade: mistune<2,>=0.8.1 in c:\users\greym\anaconda3\lib\site-packages (from nbconvert->notebook->jupyterlab-git) (0.8.4)
Requirement already satisfied, skipping upgrade: bleach in c:\users\greym\anaconda3\lib\site-packages (from nbconvert->notebook->jupyterlab-git) (3.1.5)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in c:\users\greym\anaconda3\lib\site-packages (from jinja2->notebook->jupyterlab-git) (1.1.1)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\users\greym\anaconda3\lib\site-packages (from requests->nbdime~=2.0->jupyterlab-git) (2020.6.20)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in c:\users\greym\anaconda3\lib\site-packages (from requests->nbdime~=2.0->jupyterlab-git) (2.10)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\greym\anaconda3\lib\site-packages (from requests->nbdime~=2.0->jupyterlab-git) (1.25.9)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in c:\users\greym\anaconda3\lib\site-packages (from requests->nbdime~=2.0->jupyterlab-git) (3.0.4)
Requirement already satisfied, skipping upgrade: gitdb<5,>=4.0.1 in c:\users\greym\anaconda3\lib\site-packages (from GitPython!=2.1.4,!=2.1.5,!=2.1.6->nbdime~=2.0->jupyterlab-git) (4.0.5)
Requirement already satisfied, skipping upgrade: jedi>=0.10 in c:\users\greym\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook->jupyterlab-git) (0.17.1)
Requirement already satisfied, skipping upgrade: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\greym\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook->jupyterlab-git) (3.0.5)
Requirement already satisfied, skipping upgrade: pickleshare in c:\users\greym\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook->jupyterlab-git) (0.7.5)
Requirement already satisfied, skipping upgrade: backcall in c:\users\greym\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook->jupyterlab-git) (0.2.0)
Requirement already satisfied, skipping upgrade: setuptools>=18.5 in c:\users\greym\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook->jupyterlab-git) (49.2.0.post20200714)
Requirement already satisfied, skipping upgrade: pyrsistent>=0.14.0 in c:\users\greym\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook->jupyterlab-git) (0.16.0)
Requirement already satisfied, skipping upgrade: attrs>=17.4.0 in c:\users\greym\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook->jupyterlab-git) (19.3.0)
Requirement already satisfied, skipping upgrade: webencodings in c:\users\greym\anaconda3\lib\site-packages (from bleach->nbconvert->notebook->jupyterlab-git) (0.5.1)
Requirement already satisfied, skipping upgrade: packaging in c:\users\greym\anaconda3\lib\site-packages (from bleach->nbconvert->notebook->jupyterlab-git) (20.4)
Requirement already satisfied, skipping upgrade: smmap<4,>=3.0.1 in c:\users\greym\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->GitPython!=2.1.4,!=2.1.5,!=2.1.6->nbdime~=2.0->jupyterlab-git) (3.0.4)
Requirement already satisfied, skipping upgrade: parso<0.8.0,>=0.7.0 in c:\users\greym\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=5.0.0->ipykernel->notebook->jupyterlab-git) (0.7.0)
Requirement already satisfied, skipping upgrade: wcwidth in c:\users\greym\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.0.0->ipykernel->notebook->jupyterlab-git) (0.2.5)
Requirement already satisfied, skipping upgrade: pyparsing>=2.0.2 in c:\users\greym\anaconda3\lib\site-packages (from packaging->bleach->nbconvert->notebook->jupyterlab-git) (2.4.7)

In [14]:
sorted(['[1', '[12', '[21', '[2'])

['[1', '[12', '[2', '[21']

In [60]:
sorted(['[1', '[12', '[21', '[2'], key=lambda x: int(x.strip('[]')))

['[1', '[2', '[12', '[21']

In [ ]:
word_list = s.split()

num_list = [int(num) for num in filter(lambda num: num.isnumeric(), word_list)]

print(num_list)

In [7]:
import sys
sys.argv[1]

'-f'

In [17]:
d = {1.16:'1.2'}

In [58]:
string = '8. Оценка и декомпозиция digital-проектов'
print(string[:20] + string[20:].replace(' ','\n',1))

8. Оценка и декомпозиция
digital-проектов

In [63]:
len(string)

41

In [34]:
import os.path
os.path.splitext('/home/sa/somefile.txt')

('/home/sa/somefile', '.txt')

In [519]:
import pandas as pd
df = pd.DataFrame({'col1':['яблоко','груша','арбуз','дыня','виноград','арбуз'],'col2':[0,1,2,0,3,1]})
df

       col1  col2
0    яблоко     0
1     груша     1
2     арбуз     2
3      дыня     0
4  виноград     3
5     арбуз     1

In [523]:
df_mod = df.groupby('col2').agg({'col1':'unique'})
df.value_counts().to_frame()

               0
col1     col2
яблоко   0     1
дыня     0     1
груша    1     1
виноград 3     1
арбуз    2     1
         1     1

In [553]:
df_mod

                col1
col2
0     [яблоко, дыня]
1     [груша, арбуз]
2            [арбуз]
3         [виноград]

In [537]:
[elem for elem in df_mod.col1]

[array(['яблоко', 'дыня'], dtype=object),
 array(['груша', 'арбуз'], dtype=object),
 array(['арбуз'], dtype=object),
 array(['виноград'], dtype=object)]

In [100]:
tuple(df_mod.index)

(0, 1, 2, 3)

In [549]:
df_mod1 = pd.DataFrame({'col1': dict(zip(tuple(df_mod.index), (elem for elem in df_mod.col1)))})

In [551]:
df_mod1.index.name = 'col2'

In [552]:
df_mod1

                col1
col2
0     [яблоко, дыня]
1     [груша, арбуз]
2            [арбуз]
3         [виноград]

In [300]:
# sorter = lambda txt: int(''.join([letter for letter in list(txt)[:5] if letter.isdigit()]))

sorted(['1.gjll',
'2.fkgjg',
'3.fkgkkg',
'101.fkfkf',
'21.feiiogq',
'31.eiqot',
'201.dkkd',
'12.fksls'], key=lambda x: int(not x.isalpha()))

['1.gjll',
 '2.fkgjg',
 '3.fkgkkg',
 '101.fkfkf',
 '21.feiiogq',
 '31.eiqot',
 '201.dkkd',
 '12.fksls']

In [258]:
bool(str.isdigit)

True

In [242]:
for i in ['1.gjll',
'2.fkgjg',
'3.fkgkkg',
'11.fkfkf',
'21.feiiogq',
'31.eiqot',
'12.fksls']:
    print(sorter(i))

1
2
3
11
21
31
12

In [303]:
def sum_numbers(n):
    if n == 1:
        return 1
    return sum_numbers(n-1) + n

sum_numbers(5)

15

In [32]:
def is_equal(elems: list) -> bool:
    return len({sum(int(num) for num in str(elem)) for elem in elems})<2


is_equal([0, 0])

True

In [45]:
def is_equal(elems: list) -> bool:
    return len({sum(map(int, str(elem))) for elem in elems})<2


is_equal([541, 91])

True

In [69]:
n = int(input())
j = 0
for i in range(1, n+2):
    for j in range(1, i+1):
        print(i+j-1, end=' ')
    print()

 6

1
2 3
3 4 5
4 5 6 7
5 6 7 8 9
6 7 8 9 10 11
7 8 9 10 11 12 13

In [78]:
[print(*range(sum(range(i), 1), sum(range(i), 1 + i))) for i in range(1, int(input()) + 1)]

 6

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21

[None, None, None, None, None, None]

In [38]:
def is_equal2(elems: list) -> bool:
    return sum(map(int, str(elems[0]))) == sum(map(int, str(elems[1])))

is_equal2([105, 41])

False

In [133]:
is_equal = lambda elems: len({sum(int(num) for num in str(elem)) for elem in elems})<2


is_equal([2727, 27])

False

In [138]:
# import numpy as np
np.array([1, 2, 3])[[1,0]]

array([2, 1])

In [83]:
lambda row: float(row) if all([num.isdigit() for num in row.partition('.')[::2]]) else np.nan

In [81]:
'124.5.5.45885.4'.partition('.')

('124', '.', '5.5.45885.4')

In [168]:
find_even_nums = lambda n: [num for num in range(1, n+1) if not num%2] 
find_even_nums(8)

[2, 4, 6, 8]

In [266]:
{day for day in range(1,20) if day%7 and (day+1)%7}

{1, 2, 3, 4, 5, 8, 9, 10, 11, 12, 15, 16, 17, 18, 19}

In [273]:
a_i, b_i, n = 9, 8, 19

In [275]:
{day for day in range(a_i,n+1) if not (day-a_i)%b_i}

{9, 17}

In [185]:
A = set([2, 5, 799, 10, 2, 5544, 50, 14, 199, 1, 24, 79])
sorted(A)

[1, 2, 5, 10, 14, 24, 50, 79, 199, 799, 5544]

In [276]:
Capitals = dict(zip(["Russia", "Ukraine", 1], ["Moscow", "Kiev", "Washington"]))

In [289]:
list(Capitals.values()).count('Moscow')

1

In [572]:
print(f'{5:100}:{2:02}:{1:02}')

                                                                                                   5:02:01

In [432]:
import re

def data_reformer(input_date):
    parse_date = re.findall(r"\b([0-9]{4})[-/:]([0-9]{2})[-/:]([0-9]{2})\b", input_date)
    if parse_date:
        is_true_month = parse_date[0][1] in [f'{month:02}' for month in range(1,13)]
        is_true_day = parse_date[0][2] in [f'{day:02}' for day in range(1,32)]
        conditions = all([is_true_month, is_true_day])
    else:
        conditions = False
    if conditions:
        output_date = '-'.join(reversed(parse_date[0]))
        return output_date
    else:
        return "дата некорректна"


input_date = '2020-08-30'
print(data_reformer(input_date))

30-08-2020

In [394]:
d = reversed(('1', '2', '3'))
'-'.join(d)

'3-2-1'

In [419]:
parse_date[0]

('2020', '08', '30')

In [413]:
f'{2:02}'

'02'

In [13]:
"1.285599".split('.', 1)

['1', '285599']

In [90]:
import re

txt = "04.03.2016, 10:53"
x = re.match('(\d{2}\.\d{2}\.\d{4}), (\d{2}:\d{2})', txt)
x.groups()

('04.03.2016', '10:53')

In [91]:
txt = "04.03.2016, 10:53"
txt.split(', ')

['04.03.2016', '10:53']

In [76]:
txt[x.start():x.end()]

'775276'

In [68]:
import pandas as pd

date = pd.Timestamp(year=2017, month=4, day=15)
date

Timestamp('2017-04-15 00:00:00')

In [70]:
date.date()

datetime.date(2017, 4, 15)

In [74]:
date.strftime('%d-%m-%Y')

'15-04-2017'

In [18]:
import pandas as pd
df = pd.DataFrame({'A':['foo', 'bar', 'baz', 'zoo'], 'B':[1, 2, 3, 4], 'C':[5, 6, 7, 8]})

In [43]:
df = df.groupby('A').agg({'B':lambda x : x, 'C':['mean', 'median']})

In [53]:
df.loc[:, ('C','median')]

A
bar    6
baz    7
foo    5
zoo    8
Name: (C, median), dtype: int64

In [56]:
df['C']['median']

A
bar    6
baz    7
foo    5
zoo    8
Name: median, dtype: int64

In [58]:
df['C', 'median']

A
bar    6
baz    7
foo    5
zoo    8
Name: (C, median), dtype: int64

In [123]:
df.index

Index(['bar', 'baz', 'foo', 'zoo'], dtype='object', name='A')

In [14]:
pd.MultiIndex.from_product([['B'], ['C']])

MultiIndex([('B', 'C')],
           )

In [116]:
def largest_even(test_list):
    evens = []
    max_even = -1
    for elem in test_list:
        if not elem % 2:
            evens.append(elem)
    if evens:
        for even in evens:
            if even > max_even:
                max_even = even
        return max_even
    else:
        return -1
    
    
largest_even([0, 19, 18973623])

0

In [118]:
def largest_even(test_list):
    max_dct = dict(max_even=-1)
    evens = [elem for elem in test_list if not elem % 2]
    max_dct = {'max_even':even for even in evens if even > max_dct['max_even']}
    return max_dct.get('max_even', -1)

    
print(largest_even([0, 19, 18973623]))

0

In [151]:
import os
# os.fspath(os.getcwd())
for path in os.walk(os.getcwd()):
    print(path)

('D:\\Курсы\\Skillbox\\Data Science\\16. Чтение и запись данных ч.1\\Dzhumurat', ['.ipynb_checkpoints', 'data', 'hw#14(16)'], ['14_data_.zip', '7_4_Работа_с_данными_формата_HTML_Для_нового_сайта.ipynb', 'dicts_help.ipynb', 'Dzhumurat.rar', 'jun_anl_read_data1.ipynb', 'jun_anl_read_data1_hw-extra_reading.ipynb', 'jun_anl_read_data1_les-1.ipynb', 'jun_anl_read_data1_les-2.ipynb', 'jun_anl_read_data1_les-3.ipynb', 'jun_anl_read_data1_les-4.ipynb', 'jun_anl_read_data1_les-5.ipynb', 'jun_anl_read_data1_les-6.ipynb', 'Untitled.ipynb', 'Чтение и запись данных часть 1.zip'])
('D:\\Курсы\\Skillbox\\Data Science\\16. Чтение и запись данных ч.1\\Dzhumurat\\.ipynb_checkpoints', [], ['Untitled-checkpoint.ipynb'])
('D:\\Курсы\\Skillbox\\Data Science\\16. Чтение и запись данных ч.1\\Dzhumurat\\data', [], ['Analytics_Junior.xlsx', 'task.csv', 'uwsgi.log', 'xml_content_description.xml'])
('D:\\Курсы\\Skillbox\\Data Science\\16. Чтение и запись данных ч.1\\Dzhumurat\\hw#14(16)', ['out'], ['jun_anl_read_data1_hw.ipynb'])
('D:\\Курсы\\Skillbox\\Data Science\\16. Чтение и запись данных ч.1\\Dzhumurat\\hw#14(16)\\out', ['.ipynb_checkpoints'], ['movies.csv'])
('D:\\Курсы\\Skillbox\\Data Science\\16. Чтение и запись данных ч.1\\Dzhumurat\\hw#14(16)\\out\\.ipynb_checkpoints', [], ['movies-checkpoint.csv'])

In [165]:
os.getcwd()

'D:\\Курсы\\Skillbox\\Data Science'

In [161]:
cd ..

D:\Курсы\Skillbox\Data Science

In [167]:
os.getcwd() + '.\hw#'

'D:\\Курсы\\Skillbox\\Data Science.\\hw#'

In [ ]:
glob.glob()

In [14]:
import os, sys, glob, re

path = re.search(r'.*Data Science', sys.path[0]).group() # путь базовой директории
dirs = glob.glob(path + '/**/hw#*', recursive=True) # список всех поддиректорий рекурсивно
for dr in dirs:
    numReg = re.compile(r'(\d+)[(](\d+)') # регулярка для поиска директорий с домашками
    num1, num2 = map(int, numReg.search(dr).groups()) # вытаскиваем нумерацию
    new_dir = numReg.sub(f'{num1+1 if num1 not in [1,2,3,4,5] else num1}({num2}', dr) # новый путь и название директории
    os.rename(dr, new_dir) # переименовываем директорию

In [16]:
import os, sys, glob, re

path = re.search(r'.*Data Science', sys.path[0]).group() # путь базовой директории
glob.glob(path + '/**/hw#*', recursive=True)

['D:\\Курсы\\Skillbox\\Data Science\\01. Введение в Data Science\\hw#1(1)',
 'D:\\Курсы\\Skillbox\\Data Science\\01. Введение в Data Science\\hw#2(1)',
 'D:\\Курсы\\Skillbox\\Data Science\\02. Введение в Python\\hw#3(2)',
 'D:\\Курсы\\Skillbox\\Data Science\\03-9. Основы Python\\hw#4(4)',
 'D:\\Курсы\\Skillbox\\Data Science\\03-9. Основы Python\\hw#5(5)',
 'D:\\Курсы\\Skillbox\\Data Science\\03-9. Основы Python\\hw#6(6)',
 'D:\\Курсы\\Skillbox\\Data Science\\03-9. Основы Python\\hw#8(8)',
 'D:\\Курсы\\Skillbox\\Data Science\\03-9. Основы Python\\hw#9(9)',
 'D:\\Курсы\\Skillbox\\Data Science\\07. Мастер-класс_воронки\\hw#7(7)',
 'D:\\Курсы\\Skillbox\\Data Science\\10-11. Билбиотека NumPy ч.1-2\\hw#10(10)',
 'D:\\Курсы\\Skillbox\\Data Science\\10-11. Билбиотека NumPy ч.1-2\\hw#11(11)',
 'D:\\Курсы\\Skillbox\\Data Science\\12-13. Билбиотека Pandas ч.1-2\\hw#12(12)',
 'D:\\Курсы\\Skillbox\\Data Science\\12-13. Билбиотека Pandas ч.1-2\\hw#13(13)',
 'D:\\Курсы\\Skillbox\\Data Science\\14. Визуализация данных с помощью Matplotlib\\hw#14(14)',
 'D:\\Курсы\\Skillbox\\Data Science\\15. Мастер класс разведочный анализ (EDA)\\hw#15(15)',
 'D:\\Курсы\\Skillbox\\Data Science\\16. Чтение и запись данных ч.1\\hw#16(16)',
 'D:\\Курсы\\Skillbox\\Data Science\\16. Чтение и запись данных ч.1\\Dzhumurat\\hw#16(16)',
 'D:\\Курсы\\Skillbox\\Data Science\\17. Основы SQL\\hw#17(17)',
 'D:\\Курсы\\Skillbox\\Data Science\\18. Чтение и запись данных ч.2\\hw#18(18)',
 'D:\\Курсы\\Skillbox\\Data Science\\18. Чтение и запись данных ч.2\\Dzhumurat\\hw#18(18)',
 'D:\\Курсы\\Skillbox\\Data Science\\19. Работа со строками\\hw#19(19)']

In [410]:
p = 'D:\\Курсы\\Skillbox\\Data Science\\19. Работа со строками\\hw#17(19)'

In [573]:
os.listdir(path)

['.ipynb_checkpoints',
 '01. Введение в Data Science',
 '02. Введение в Python',
 '03-9. Основы Python',
 '07. Мастер-класс_воронки',
 '10-11. Билбиотека NumPy ч.1-2',
 '12-13. Билбиотека Pandas ч.1-2',
 '14. Визуализация данных с помощью Matplotlib',
 '15. Мастер класс разведочный анализ (EDA)',
 '16. Чтение и запись данных ч.1',
 '17. Основы SQL',
 '18. Чтение и запись данных ч.2',
 '19. Работа со строками',
 '26 tricks .ipynb',
 'Coursework#1',
 'Coursework#2',
 'Current task-resolver.ipynb',
 'data_science',
 'Dicts.pdf',
 'Instructions.ipynb',
 'Ivan Baumanec',
 'Matrix_transpose.ipynb',
 'renamer.ipynb',
 'Strings_tricks.html',
 'Strings_tricks.ipynb',
 'Strings_tricks.pdf',
 'классы и объекты.jpg',
 'Профессия_Data_Scientist.pdf',
 'Профессия_Data_Scientist_.pdf',
 'Словари,_логические_выражения,_итераторы.ipynb']

In [577]:
os.path.join(path, 'Dicts.pdf')

'D:\\Курсы\\Skillbox\\Data Science\\Dicts.pdf'

In [579]:
path + '\\Dicts.pdf'

'D:\\Курсы\\Skillbox\\Data Science\\Dicts.pdf'

In [459]:
import os, sys, glob, re

In [414]:
numReg = re.compile(r'(\d+).(\d+)')

In [415]:
numReg.sub(f'{19}({20}', p)

'D:\\Курсы\\Skillbox\\Data Science\\19. Работа со строками\\hw#19(20)'

In [412]:
re.sub(r'(\d+).(\d+)', f'{19}({20}', p)

'D:\\Курсы\\Skillbox\\Data Science\\19. Работа со строками\\hw#19(20)'

In [468]:
p1 = os.chdir(sys.path[0])

In [466]:
os.getcwd()

'D:\\Курсы\\Skillbox\\Data Science\\16. Чтение и запись данных ч.1\\Dzhumurat'

In [470]:
re.findall(r'(\d+)[(](\d+)', dirs[-1])

[('17', '19')]

In [417]:
sys.path[0].split('Data Science')[0] + 'Data Science'

'D:\\Курсы\\Skillbox\\Data Science'

In [423]:
re.sub(r'.?Data', '', sys.path[0])

'D:\\Курсы\\Skillbox Science\\16. Чтение и запись данных ч.1\\Dzhumurat'

In [515]:
re.search(r'(.*?)(Data)', sys.path[0]).group()

'D:\\Курсы\\Skillbox\\Data'

In [463]:
path

'D:\\Курсы\\Skillbox\\Data Science'

In [457]:
re.search(r'.*Data Science', sys.path[0]).group()

'D:\\Курсы\\Skillbox\\Data Science'

In [344]:
import sys

sys.path[0]

'D:\\Курсы\\Skillbox\\Data Science\\16. Чтение и запись данных ч.1\\Dzhumurat'

In [353]:
os.getcwd()

'D:\\Курсы\\Skillbox\\Data Science\\16. Чтение и запись данных ч.1\\Dzhumurat'

In [322]:
path1 = glob.glob(os.getcwd() + '/**/hw*', recursive=True)[0]

In [323]:
path1

'D:\\Курсы\\Skillbox\\Data Science\\01. Введение в Data Science\\hw1(1)'

In [317]:
path1.split('#')[0] + '1(1)'

'D:\\Курсы\\Skillbox\\Data Science\\01. Введение в Data Science\\hw1(1)'

In [324]:
os.rename(path1, path1.split('hw')[0] + 'hw#1(1)')

In [233]:
re.findall(r'\\hw.+', dirs[0])

['\\hw#1(2)']

In [ ]:
os.rename

In [329]:
sls = slice(None, re.search(r'(\d+).(\d+)', dirs[-1]).start())

In [331]:
dirs[-1][sls] + f'{2}({2})'

'D:\\Курсы\\Skillbox\\Data Science\\19. Работа со строками\\hw#2(2)'

In [237]:
dirs[0].partition('#')[2]

'1(2)'

In [302]:
re.search(r'hw#(\d+).(\d+)', dirs[-1]).groups()

('17', '19')

In [300]:
re.findall(r'hw#(\d+).(\d+)', dirs[-1])

[('17', '19')]

In [148]:
'abs'.endswith('s')

True

In [150]:
os.path.join('abs')

'abs'

In [55]:
s = """
hi
hi
what is your name
my name is bond
james bond
my name is damme
van damme
claude van damme
jean claude van damme"""

text = {}
for line in s.split('\n'):
    for word in line.split():
        text[word] = text.get(word, 0) + 1
words = sorted([(-val, key) for key, val in text.items()])
words

for word in words:
    print(word[1])

damme
is
name
van
bond
claude
hi
my
james
jean
what
your

In [56]:
from collections import Counter

words = []
for line in s.split('\n'):
    words.extend(line.split())

counter = Counter(words)
pairs = [(-pair[1], pair[0]) for pair in counter.most_common()]
words = [pair[1] for pair in sorted(pairs)]
print('\n'.join(words))

damme
is
name
van
bond
claude
hi
my
james
jean
what
your

In [60]:
sorted([(-pair[1], pair[0]) for pair in counter.most_common()])

[(-4, 'damme'),
 (-3, 'is'),
 (-3, 'name'),
 (-3, 'van'),
 (-2, 'bond'),
 (-2, 'claude'),
 (-2, 'hi'),
 (-2, 'my'),
 (-1, 'james'),
 (-1, 'jean'),
 (-1, 'what'),
 (-1, 'your')]

In [112]:
def is_repdigit(digit:int):
    return len({num for num in str(digit) if not digit or digit//10}) == 1

is_repdigit(66)

True

In [128]:
def is_repdigit(digit:int):
    return len({*str(digit)}) == 1 and any([not digit, digit//10])

is_repdigit(66)

True

In [248]:
def is_repdigit(num):
    return len({*str(num)}) == 1

is_repdigit(0)

True

In [15]:
def double_char(txt:str):
    return ''.join((map(lambda x: x*2, txt)))

double_char('Hello World!')

'HHeelllloo  WWoorrlldd!!'

In [320]:
class Employee:
    """Employees personal data class"""
    _header = f"""
                {'-':-^75}
                |{'firstname':^10}|{'lastname':^10}|{'fullname':^20}|{'email':^30}|
                {'-':-^75}""".strip('\n')

    def __new__(cls, *args):
        print(cls._header, end='')
        cls._header = ''        
        self = super(Employee, cls).__new__(cls)
        return self

    def __init__(self, firstname:str, lastname:str):
        self.firstname, self.lastname = firstname, lastname
        self.fullname = f'{firstname} {lastname}'
        self.email = f'{firstname.lower()}.{lastname.lower()}@company.com'
   
    def __str__(self) -> str:
        return f"""
                |{self.firstname:^10}|{self.lastname:^10}|{self.fullname:^20}|{self.email:^30}|
                {'-':-^75}"""

    def __repr__(self) -> str:
        return self.__str__()


emp_1 = Employee("John", "Smith")
emp_2 = Employee("Mary",  "Sue")
emp_3 = Employee("Antony", "Walker")

print(emp_1, emp_2, emp_3)

                ---------------------------------------------------------------------------
                |firstname | lastname |      fullname      |            email             |
                ---------------------------------------------------------------------------
                |   John   |  Smith   |     John Smith     |    john.smith@company.com    |
                ---------------------------------------------------------------------------
                |   Mary   |   Sue    |      Mary Sue      |     mary.sue@company.com     |
                ---------------------------------------------------------------------------
                |  Antony  |  Walker  |   Antony Walker    |  antony.walker@company.com   |
                ---------------------------------------------------------------------------

In [317]:
print(emp_3)

                |  Antony  |  Walker  |   Antony Walker    |  antony.walker@company.com   |
                ---------------------------------------------------------------------------

In [2]:
'5.%20Языковые%20модели.%20Счетные%20языковые%20модели%20и%20вероятностные%20языковые%20модели'.replace('%20', ' ')

'5. Языковые модели. Счетные языковые модели и вероятностные языковые модели'

In [ ]:
#     @staticmethod
#     def header() -> str:
#         return f"""
#                 {'-':-^75}
#                 |{'firstname':^10}|{'lastname':^10}|{'fullname':^20}|{'email':^30}|
#                 {'-':-^75}""".strip('\n')

# print(f"{'-':-^75}")
# print(f"|{'firstname':^10}|{'lastname':^10}|{'fullname':^20}|{'email':^30}|")
# print(f"{'-':-^75}")
# print(f'|{emp_1.firstname:^10}|{emp_1.lastname:^10}|{emp_1.fullname:^20}|{emp_1.email:^30}|')
# print(f'|{emp_2.firstname:^10}|{emp_2.lastname:^10}|{emp_2.fullname:^20}|{emp_2.email:^30}|')
# print(f'|{emp_3.firstname:^10}|{emp_3.lastname:^10}|{emp_3.fullname:^20}|{emp_3.email:^30}|')
# print(f"{'-':-^75}")
# print(emp_1.fullname)
# print(emp_1.email)
# print(emp_2.fullname)
# print(emp_2.email)
# print(emp_3.fullname)
# print(emp_3.email)
# print(emp_3.firstname)

In [52]:
def replace_first(items):
    return items[1:] + items[:1]

my_list = [1,2,3,4,5]
replace_first(my_list)

[2, 3, 4, 5, 1]

In [ ]:
3 4
0 3 2 4
2 3 5 5
5 1 2 3

In [256]:
n, m = int(input()), int(input())
# зададим пустой массив заданной размерности n x m
a = []
for i in range(n):
    a.append([] * m)
# заполним массив значениями из input
for i in range(n):
    for j in input().split():
        j = int(j)
        a[i].append(j)
a

 3
 4
 0 3 2 4
 2 3 5 5
 5 1 2 3

[[0, 3, 2, 4], [2, 3, 5, 5], [5, 1, 2, 3]]

In [282]:
b = [
 [1,0,1,0],
 [0,1,1,0],
 [0,1,0,0],
 [0,0,0,1]
]

In [283]:
k = 2
for i, row in enumerate(b):
    if '0' * k in ''.join(map(str, row)):
        print(i)
        break
else:
    print(f'свободных мест {k} рядом нет')

2

In [320]:
A = [1, 2, 3, 4, 5]

In [294]:
A.remove(1)

In [305]:
A.__len__()

6

In [56]:
class A:
    x = 1
    def __init__(self):
        self.y = 2
        self.x = 4


a = A()
a.__getattribute__('y')
a.__class__().__delattr__('x')

In [62]:
a.__class__.x = 2

In [69]:
a.x

3

In [396]:
from collections import OrderedDict

my_pets = OrderedDict()
my_pets['собака'] = 'Жучка'
my_pets['мышка'] = 'Норушка'
my_pets['кошка'] = 'Мурка'
my_pets['попугай'] = 'Кеша'
my_pets['рыбка'] = 'Геннадий'
my_pets['таракан'] = 'Виссегауд'
my_pets['кролик'] = 'Савелий'
print(my_pets)
for k, v in my_pets.items():
    print(k, v)

OrderedDict([('собака', 'Жучка'), ('мышка', 'Норушка'), ('кошка', 'Мурка'), ('попугай', 'Кеша'), ('рыбка', 'Геннадий'), ('таракан', 'Виссегауд'), ('кролик', 'Савелий')])
собака Жучка
мышка Норушка
кошка Мурка
попугай Кеша
рыбка Геннадий
таракан Виссегауд
кролик Савелий

In [322]:
A.append(A)

In [331]:
A[5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5][5]

[1, 2, 3, 4, 5, [...]]

In [385]:
def f(x):    
    global num
    num = x
    return f(x+1)


try:
    f(100000000000000001)
except RecursionError as ext:
    print(num, ext.args[0])

100000000000002963 maximum recursion depth exceeded

In [166]:
import itertools

[print(i[0], 'X', i[1]) for i in itertools.product(range(6), range(8))];

0 X 0
0 X 1
0 X 2
0 X 3
0 X 4
0 X 5
0 X 6
0 X 7
1 X 0
1 X 1
1 X 2
1 X 3
1 X 4
1 X 5
1 X 6
1 X 7
2 X 0
2 X 1
2 X 2
2 X 3
2 X 4
2 X 5
2 X 6
2 X 7
3 X 0
3 X 1
3 X 2
3 X 3
3 X 4
3 X 5
3 X 6
3 X 7
4 X 0
4 X 1
4 X 2
4 X 3
4 X 4
4 X 5
4 X 6
4 X 7
5 X 0
5 X 1
5 X 2
5 X 3
5 X 4
5 X 5
5 X 6
5 X 7

In [421]:
[print(num, end=' ') for num in max({(sum({j for j in range(1, i+1) if not i % j}), i) for i in range(int(input()), int(input())+1)})[::-1]];

 1
 100

96 252

In [423]:
print(*[max({(i, sum({j for j in range(1, i+1) if not i % j})) for i in range(int(input()), int(input())+1)}, key=lambda x: x[1])][0])

 1
 100

96 252

In [454]:
print(*max([(i, sum(filter(lambda x: not i % x, range(1, i+1)))) for i in range(int(input()), int(input())+1)], key=lambda x: x[1]))

 1
 100

96 252

In [453]:
print(*max(map(lambda x: (x, sum(filter(lambda y: not x % y, range(1, x+1)))), range(int(input()), int(input())+1)), key=lambda x: x[1]))

 1
 100

96 252

In [13]:
# f2 = lambda y: (y, sum(filter(f1, zip(range(1, y+1), (y,)*y))))
# f1 = lambda *args: not args[1] % args[0]
f3 = lambda z: z[1]

def f1(x):
    def f2(y):
        return not x % y
    return x, sum(filter(f2, range(1, x + 1)))
    

m, n = int(input()), int(input()) + 1
print(*max(map(f1, range(m, n)), key=f3))

 1
 100

96 252

In [2]:
def f1(x):
    def f2(y):
        return not x % y
    return x, sum(filter(f2, range(1, x + 1)))

f3 = lambda z: z[1]


m, n = int(input()), int(input()) + 1
print(*max(map(f1, range(m, n)), key=f3))

 1
 100

96 252

In [87]:
f = lambda a, b: a < b
for tup in [(2, 3), (3, 2), (4, 3), (3, 4)]:
    print(tup, f(*tup))

(2, 3) True
(3, 2) False
(4, 3) False
(3, 4) True

In [5]:
list(zip(range(1, 11), (5,)*10))

[(1, 5),
 (2, 5),
 (3, 5),
 (4, 5),
 (5, 5),
 (6, 5),
 (7, 5),
 (8, 5),
 (9, 5),
 (10, 5)]

In [11]:
(1, 1)[1]

1

In [427]:
{j for j in range(1, 97) if not 96 % j}

{1, 2, 3, 4, 6, 8, 12, 16, 24, 32, 48, 96}

In [456]:
from functools import reduce

n = 5
reduce(lambda x, y: x * y, range(1, n + 1))

120

In [404]:
[[i for i in range(1, j+1) if not j % i] for j in range(1, 101)]

[[1],
 [1, 2],
 [1, 3],
 [1, 2, 4],
 [1, 5],
 [1, 2, 3, 6],
 [1, 7],
 [1, 2, 4, 8],
 [1, 3, 9],
 [1, 2, 5, 10],
 [1, 11],
 [1, 2, 3, 4, 6, 12],
 [1, 13],
 [1, 2, 7, 14],
 [1, 3, 5, 15],
 [1, 2, 4, 8, 16],
 [1, 17],
 [1, 2, 3, 6, 9, 18],
 [1, 19],
 [1, 2, 4, 5, 10, 20],
 [1, 3, 7, 21],
 [1, 2, 11, 22],
 [1, 23],
 [1, 2, 3, 4, 6, 8, 12, 24],
 [1, 5, 25],
 [1, 2, 13, 26],
 [1, 3, 9, 27],
 [1, 2, 4, 7, 14, 28],
 [1, 29],
 [1, 2, 3, 5, 6, 10, 15, 30],
 [1, 31],
 [1, 2, 4, 8, 16, 32],
 [1, 3, 11, 33],
 [1, 2, 17, 34],
 [1, 5, 7, 35],
 [1, 2, 3, 4, 6, 9, 12, 18, 36],
 [1, 37],
 [1, 2, 19, 38],
 [1, 3, 13, 39],
 [1, 2, 4, 5, 8, 10, 20, 40],
 [1, 41],
 [1, 2, 3, 6, 7, 14, 21, 42],
 [1, 43],
 [1, 2, 4, 11, 22, 44],
 [1, 3, 5, 9, 15, 45],
 [1, 2, 23, 46],
 [1, 47],
 [1, 2, 3, 4, 6, 8, 12, 16, 24, 48],
 [1, 7, 49],
 [1, 2, 5, 10, 25, 50],
 [1, 3, 17, 51],
 [1, 2, 4, 13, 26, 52],
 [1, 53],
 [1, 2, 3, 6, 9, 18, 27, 54],
 [1, 5, 11, 55],
 [1, 2, 4, 7, 8, 14, 28, 56],
 [1, 3, 19, 57],
 [1, 2, 29, 58],
 [1, 59],
 [1, 2, 3, 4, 5, 6, 10, 12, 15, 20, 30, 60],
 [1, 61],
 [1, 2, 31, 62],
 [1, 3, 7, 9, 21, 63],
 [1, 2, 4, 8, 16, 32, 64],
 [1, 5, 13, 65],
 [1, 2, 3, 6, 11, 22, 33, 66],
 [1, 67],
 [1, 2, 4, 17, 34, 68],
 [1, 3, 23, 69],
 [1, 2, 5, 7, 10, 14, 35, 70],
 [1, 71],
 [1, 2, 3, 4, 6, 8, 9, 12, 18, 24, 36, 72],
 [1, 73],
 [1, 2, 37, 74],
 [1, 3, 5, 15, 25, 75],
 [1, 2, 4, 19, 38, 76],
 [1, 7, 11, 77],
 [1, 2, 3, 6, 13, 26, 39, 78],
 [1, 79],
 [1, 2, 4, 5, 8, 10, 16, 20, 40, 80],
 [1, 3, 9, 27, 81],
 [1, 2, 41, 82],
 [1, 83],
 [1, 2, 3, 4, 6, 7, 12, 14, 21, 28, 42, 84],
 [1, 5, 17, 85],
 [1, 2, 43, 86],
 [1, 3, 29, 87],
 [1, 2, 4, 8, 11, 22, 44, 88],
 [1, 89],
 [1, 2, 3, 5, 6, 9, 10, 15, 18, 30, 45, 90],
 [1, 7, 13, 91],
 [1, 2, 4, 23, 46, 92],
 [1, 3, 31, 93],
 [1, 2, 47, 94],
 [1, 5, 19, 95],
 [1, 2, 3, 4, 6, 8, 12, 16, 24, 32, 48, 96],
 [1, 97],
 [1, 2, 7, 14, 49, 98],
 [1, 3, 9, 11, 33, 99],
 [1, 2, 4, 5, 10, 20, 25, 50, 100]]

In [62]:
a = int(input())
b = int(input())

max({(sum({j for j in range(1, i+1) if not i % j}), i) for i in range(a, b+1)})

 1
 10

(18, 10)

In [80]:
a = int(input())
b = int(input())

subset = set()
for i in range(a, b+1):
    subsubset = set()
    for j in range(1, i+1):
        if not i % j:
            subsubset.add(j)
    subset.add((sum(subsubset), i))
sum_divisors, num = max(subset)
print(num, sum_divisors)

 1
 100

96 252

In [41]:
from collections import defaultdict

dct = defaultdict(list)
dct['a'].append(1)
dct

defaultdict(list, {'a': [1]})

In [172]:
[letter.isupper() for letter in 'cAnnOt'].count(True)

2

In [173]:
len([*filter(str.isupper, 'cAnnOt')])

2

In [181]:
dct = {'b':2}
dct.get('a', list()).append(1)
dct

{'b': 2}

In [180]:
[].append(1)

In [169]:
list(filter(lambda x: len(x) == 1, filter(str.isupper, 'cAnnOt')))

['A', 'O']

In [188]:
from collections import defaultdict

clients = defaultdict(lambda: defaultdict(lambda: defaultdict(int)))
clients['a']['b']['c'] = 1
clients['a']['b']['c']
clients['b']['d']['e'] = 2
clients

defaultdict(<function __main__.<lambda>()>,
            {'a': defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'b': defaultdict(int, {'c': 1})}),
             'b': defaultdict(<function __main__.<lambda>.<locals>.<lambda>()>,
                         {'d': defaultdict(int, {'e': 2})})})

In [170]:
def f(string):
    func = lambda x: len(x) == 1
    res = list(filter(str.isupper, string))
    return func(res)

f('cAnnOt')

False

In [236]:
string = """Alexei Peter_I
Anna Peter_I
Elizabeth Peter_I
Peter_II Alexei
Peter_III Anna
Paul_I Peter_III
Alexander_I Paul_I
Nicholaus_I Paul_I"""

pedigree = {}
for i in range(8):
    line = string.split('\n')[i]
    child, parent = line.split()
    if parent not in pedigree:
        pedigree[parent] = {}
    pedigree[parent].update(**{child:None})
# print(pedigree)

for parent in pedigree:
    for child in pedigree[parent]:
        if child in pedigree:
            pedigree[parent][child] = pedigree[child]
print(pedigree)

heights = {}


def recurs(dct, dep=0):
    for relative in dct:
        
        if dct[relative] is not None:
            dep += 1
            recurs(dct[relative], dep=dep)
        heights[relative] = dep
    return
        
recurs(pedigree['Peter_I'])
print(heights)

{'Peter_II': None}
{'Peter_II': None}
-----------------
{'Peter_III': None}
{'Peter_III': None}
-----------------
{'Paul_I': None}
{'Paul_I': None}
-----------------
{'Alexander_I': None, 'Nicholaus_I': None}
{'Alexander_I': None, 'Nicholaus_I': None}
-----------------
{'Peter_I': {'Alexei': {'Peter_II': None}, 'Anna': {'Peter_III': {'Paul_I': {'Alexander_I': None, 'Nicholaus_I': None}}}, 'Elizabeth': None}, 'Alexei': {'Peter_II': None}, 'Anna': {'Peter_III': {'Paul_I': {'Alexander_I': None, 'Nicholaus_I': None}}}, 'Peter_III': {'Paul_I': {'Alexander_I': None, 'Nicholaus_I': None}}, 'Paul_I': {'Alexander_I': None, 'Nicholaus_I': None}}
{'Peter_II': 1, 'Alexei': 1, 'Alexander_I': 4, 'Nicholaus_I': 4, 'Paul_I': 4, 'Peter_III': 3, 'Anna': 2, 'Elizabeth': 2}

In [242]:
children = {'Peter_II', 'Alexei', 'Anna', 'Nicholaus_I', 'Elizabeth', 'Paul_I', 'Alexander_I', 'Peter_III'}
parents = {'Alexei', 'Anna', 'Peter_I', 'Paul_I', 'Peter_III'}
grnd = (parents - children).pop()
grnd

'Peter_I'

In [155]:
from collections import Counter

strng = 'cAnnOt'
c = Counter(strng).most_common()
print(c)

[('n', 2), ('c', 1), ('A', 1), ('O', 1), ('t', 1)]

In [306]:
url_mcc = 'https://en.wikipedia.org/wiki/Mobile_Network_Codes_in_ITU_region_2xx_(Europe)#Albania_%E2%80%93_AL'
dfs = pd.read_html(url_mcc, match='Telekom Albania', header=0,
                   converters={'MNC': str})

In [11]:
def int_to_str(digit):
    return repr(digit)

def str_to_int(string):
    return eval(string)

int_to_str(10)
str_to_int('10')

10

In [94]:
int, str = str, int

In [190]:
def int_to_str(digit):
    return repr(f"{digit}")
def str_to_int(string):
    return eval(string)

print(int_to_str(10))

'10'

In [197]:
a = 2.1
if int(a) == float(a):
    print('+')
else:
    print('-')

-

In [200]:
int(2.1) == float(2.1)

False

In [199]:
float(2.1)

2.1

In [194]:
import numpy as np

b = np.array([
    [1, 2, 3],
    [4, 5, 6]
])

In [196]:
b[0:2, 0:1]

array([[1],
       [4]])

In [318]:
dfs[0]

,MCC,MNC,Brand,Operator,Status,Bands (MHz),References and notes
0,276,01,Telekom.al,Telekom Albania,Operational,GSM 900 / GSM 1800 / UMTS 2100 / LTE 1800 / LT...,[2]
1,276,02,Vodafone,Vodafone Albania,Operational,GSM 900 / GSM 1800 / UMTS 2100 / LTE 1800 / LT...,[2]
2,276,03,Eagle Mobile,Albtelecom,Operational,GSM 900 / GSM 1800 / UMTS 2100 / LTE 1800,[2]
3,276,04,Plus Communication,Plus Communication,Not operational,GSM 900 / GSM 1800 / UMTS 2100,[3] Shut down Jan 2018[4]

In [5]:
'3.%20Модели%20ARIMA%20и%20GARCH%2C%20прогнозирование%20значений%20на%20их%20основе'.replace('%20', ' ')

'3. Модели ARIMA и GARCH%2C прогнозирование значений на их основе'

In [361]:
url = 'https://worldtable.info/gosudarstvo/tablica-rozhdaemosti-po-godam-rossija.html'
dfs = pd.read_html(url, flavor='bs4', header=0, index_col='Год', parse_dates=True, thousands=' ')

In [365]:
dfs[0]

            Количество родившихся чел.
Год
1959-01-01                     2796228
1960-01-01                     2782353
1961-01-01                     2662135
1962-01-01                     2482539
1963-01-01                     2331505
...                                ...
2015-01-01                     1944136
2016-01-01                     1893256
2017-01-01                     1689884
2018-01-01                     1599316
2019-01-01                     1484517

[61 rows x 1 columns]

___

Удалённые ячейки из Курсовой работы №1

п.2.1

In [29]:
# создаём датафрейм, по которому будем срезать основной массив
# здесь рассчитывается номер первого модуля, в котором есть д|з для каждого курса
df_slicer = pd.DataFrame()
for course in courses:
    df_slicer = df_slicer.append(pd.DataFrame(
        (
            (course, df_students_month[df_students_month.course_title.eq(course)].module_number.min()),
        ),
            columns=['course_title', 'module_number']
                                             )
                                )
df_slicer

In [30]:
# соединяем два датафрейма с фильтрацией строк по второму (срез лишних строк)
df_students_month_merged = pd.merge(df_students_month, df_slicer,
                                    how='right',
                                    on=['course_title', 'module_number'],)
df_students_month_merged

п.4.1

И удалим из него все строки, где д/з не сделано (`finish_date == NaT`), кроме тех, где модуль является последним на каждом из курсов. Последний модуль может быть и недоделан - это уже не повлияет на расчёты, т.к. по условию, для последнего модуля в формуле фигурирует лишь дата начала модуля и дата сдачи предпоследнего модуля. В остальных же случаях, нам важно чтобы были представлены и дата начала модуля и дата успешной сдачи д/з по каждому из модулей каждого курса.
Итак, удалим все строки с **NaT** в колонке `finish_date` кроме тех, которые относятся к последнему модулю на каждом из курсов. Для этого найдём сначала номера последних модулей на каждом из курсов.

In [62]:
last_module = df_with_hw.groupby('course_title').module_number.transform('max')

А теперь избавимся от неинформативных строк для расчётов по требуемой формуле

In [64]:
# запрос, удаляющий неинформативные для данного задания строки из датафрейма
df_hw_done = df_hw_done[~(df_hw_done.finish_date.isna() & df_hw_done.module_number.ne(last_module))]

А теперь уберём из датафрейма тех студентов, у которых на вышеуказанных курсах выполнены не все д/з в тех модулях, в которых более чем одно д/з. Как исключение, оставим, однако, тех студентов, которые выполнили не все д/з в последнем модуле, т.к. для рассчёта конверсии завершение всех домашних работ в последнем модуле не требуется, но при этом, нужно знать сколько всего студентов перешло (начали выполнять д/з) на последний модуль. Поэтому напишем соответствущее логическое условие выборки из датафрейма нужных нам записей.

In [69]:
for course in courses:
    df_all_lessons.loc[course, 'last_module'] = df_all_lessons.loc[course].index.get_level_values(1).max()
    
df_final = df_all_lessons[(df_all_lessons.lesson_number == df_all_lessons.lesson_number_all) |
                          (df_all_lessons.index.get_level_values(2) == df_all_lessons.last_module)]
df_final

___

In [73]:
with open(r'D:\Курсы\Skillbox\Data Science\Coursework#1\contents.txt', mode='r', encoding='utf8') as ff:
    f = open(r'D:\Курсы\Skillbox\Data Science\Coursework#1\out.txt', mode='w', encoding='utf8')
    for row in ff.readlines():
        string1 = '4.' + row.strip('\n')
        string2 = row[:1] + ' ' + row.rstrip('\n')[3:].lstrip('*(mp)* ')
        string2 = f"#4.{string2}"
        f.write(f"[{string1}]({string2.replace(' ', '-')})<br>\n")
    f.close()

In [74]:
with open(r'D:\Курсы\Skillbox\Data Science\Coursework#1\contents.txt', mode='r', encoding='utf8') as ff:
    f = open(r'D:\Курсы\Skillbox\Data Science\Coursework#1\out.txt', mode='w', encoding='utf8')
    for row in ff.readlines():
        string = row[:1] + ' ' + row.rstrip('\n')[3:].lstrip('*(mp)* ')        
        f.write(f"### 4.{string}\n")
    f.close()